<template lang="pug">
  q-page(padding)
    |Hallo
    div(class="row")
      div(class="col")
        |Datum
      div(class="col")
        |WT
      div(class="col")
        |Uhrzeit
      div(class="col")
        |Anwesend/Abwesend
      div(class="col")
        |Kommentare
</template>

<script>

export default {
  // ####################### Component Name
  name: 'Diakone',
  // ####################### Used Components
  components: {
  },
  // ####################### Data
  data: () => ({
  }),
  // ####################### Component Methods
  mounted () {
  },
  // ####################### Methods
  methods: {
  }
}
</script>
