<template lang="pug">
  q-card
    q-toolbar
      q-avatar
        img(src="https://cdn.quasar.dev/logo/svg/quasar-logo.svg")
      q-toolbar-title
        span(v-if="$store.state.Scheduler.Mode === 'new'")|Neuer Eintrag
        span(v-if="$store.state.Scheduler.Mode === 'edit'")|Eintrag bearbeiten
        span(v-if="Form.Values.uid")|&nbsp;({{Form.Values.uid}})

      q-btn(
        v-if="Form.Values.dtstart_Date !== undefined && Form.Values.dtstart_Date !== '' && Form.Values.dtstart_Time !== undefined && Form.Values.dtstart_Time !== '' && Form.Values.summary !== undefined && Form.Values.summary !== '' && Form.Values.categories !== undefined && Form.Values.categories !== '' && Form.Values.location !== undefined && Form.Values.location !== ''"
        flat
        :label="getButtonText()"
        type="submit"
        color="primary"
        @click="execute"
        )|
      q-btn(flat @click="$emit('execute', {Component: 'DialogForm', Action: 'Cancel'})")|Abbruch
    q-card-section
      //-:options="(date) => { //return date >= date.formatDate(Date.now(), "YYYY/MM/DD") }"
    q-separator
    q-card-section
      q-form(ref="EditForm")
        //- Startdatum
        div(class="row")
          div(class="col")
            q-input(
              clearable
              filled
              v-model="Form.Values.dtstart_Date"
              mask="##.##.####"
              :rules="[v => /[0-3]{1}[0-9]{1}\.[0-1]{1}[0-9]{1}\.[1-2]{1}[019]{1}[0-9]{2}/.test(v) || 'Bitte ein gültiges Datum im Format TT.MM.JJJJ eingeben']"
              label="Startdatum *"
              )
              template(v-slot:append)
                q-icon(
                  name="event"
                  class="cursor-pointer")
                  q-popup-proxy(
                    transition-show="scale"
                    transition-hide="scale")
                    q-date(
                      :options="getStartDateRange"
                      today-btn
                      v-model="Form.Values.dtstart_Date"
                      first-day-of-week="1"
                      mask="DD.MM.YYYY")
        //- Startzeit
        div(
          v-if="Form.Values.dtstart_Date !== undefined && Form.Values.dtstart_Date !== ''"
          class="row" )
          div(class="col")
            q-input(
              clearable
              filled
              v-model="Form.Values.dtstart_Time"
              mask="##:##"
              :rules="[v => /[0-2]{1}[0-9]{1}\:[0-5]{1}[0-9]{1}/.test(v) || 'Bitte eine gültige Uhrzeit im Format HH:MM eingeben']"
              label="Startzeit *"
              )
              template(v-slot:append)
                q-icon(
                  name="access_time"
                  class="cursor-pointer")
                  q-popup-proxy(
                    transition-show="scale"
                    transition-hide="scale")
                    q-time(
                      v-model="Form.Values.dtstart_Time"
                      format24h)
                      div(class="row" v-if="Form.Values.dtstart_Time !== undefined && Form.Values.dtstart_Time !== ''")
        //- Endzeit
        div(class="row" v-if="Form.Values.dtstart_Time !== undefined && Form.Values.dtstart_Time !== ''")
          div(class="col")
            q-input(
              clearable
              filled
              v-model="Form.Values.dtend_Time"
              mask="##:##"
              label="Endzeit"
              )
              template(v-slot:append)
                q-icon(
                  name="access_time"
                  class="cursor-pointer")
                  q-popup-proxy(
                    transition-show="scale"
                    transition-hide="scale")
                    q-time(
                      v-model="Form.Values.dtend_Time"
                      format24h)
        //- Enddatum
        div(class="row" v-if="Form.Values.dtend_Time !== undefined && Form.Values.dtend_Time !== ''")
          div(class="col")
            q-input(
              clearable
              filled
              v-model="Form.Values.dtend_Date"
              mask="##.##.####"
              label="Enddatum")
              template(v-slot:append)
                q-icon(
                  name="event"
                  class="cursor-pointer")
                  q-popup-proxy(
                    transition-show="scale"
                    transition-hide="scale")
                    q-date(
                      today-btn
                      v-model="Form.Values.dtend_Date"
                      first-day-of-week="1"
                      mask="DD.MM.YYYY")
        //- Zusammenfassung
        div(class="row" v-if="Form.Values.dtstart_Date !== undefined && Form.Values.dtstart_Date !== ''")
          div(class="col")
             q-input(
               maxlength="75"
               v-model="Form.Values.summary"
               filled
               autogrow
               label="Zusammenfassung *"
               :rules="[v => v.length > 5 || 'Bitte mindestens 5 Zeichen eingeben', v => v.length < 75 || 'Bitte maximal 75 Zeichen eingeben']")
        //- Beschreibung
        div(class="row" v-if="Form.Values.summary !== undefined && Form.Values.summary !== ''")
          div(class="col")
             q-input(v-model="Form.Values.description" filled autogrow label="Beschreibung")
        div(class="row" v-if="Form.Values.dtstart_Date !== undefined && Form.Values.dtstart_Date !== ''")
          div(class="col")
            q-select(
              filled
              v-model="Form.Values.categories"
              label="Kategorie *"
              :options="Form.Options.Categories"
              :rules="[v => v.length > 0 || 'Bitte eine Auswahl treffen']")
              template(v-slot:no-option)
                q-item
                  q-item-section(class="text-grey")
                    |Keine Ergebnisse
        div(class="row" v-if="Form.Values.dtstart_Date !== undefined && Form.Values.dtstart_Date !== ''")
          div(class="col")
             q-input(v-model="Form.Values.location" filled type="text" label="Ort *" :rules="[v => v.length > 2 || 'Bitte mindestens 3 Zeichen eingeben']")
        div(class="row" v-if="Form.Values.dtstart_Date !== ''")
          div(class="col")
             q-input(v-model="Form.Values.freeText" filled autogrow label="Zur freien Verfügung")
    q-card-actions(align="right")
      q-btn(
        v-if="Form.Values.dtstart_Date !== undefined && Form.Values.dtstart_Date !== '' && Form.Values.dtstart_Time !== undefined && Form.Values.dtstart_Time !== '' && Form.Values.summary !== undefined && Form.Values.summary !== '' && Form.Values.categories !== undefined && Form.Values.categories !== '' && Form.Values.location !== undefined && Form.Values.location !== ''"
        flat
        :label="getButtonText()"
        type="submit"
        color="primary"
        @click="execute"
        )|
      q-btn(flat @click="$emit('execute', {Component: 'DialogForm', Action: 'Cancel'})")|Abbruch
</template>

<script>
/* eslint-disable semi */
/* eslint-disable standard/computed-property-even-spacing */
import { date } from 'quasar';
export default {
  name: 'DialogForm',
  props: [],
  components: {},
  data: () => ({
    Form: {
      Values: {
        dtstart_Date: '',
        dtstart_Time: '',
        dtend_Time: '',
        dtend_Date: '',
        summary: '',
        description: '',
        categories: '',
        action: '',
        location: '',
        freeText: ''
      },
      Options: {
        Categories: [
          'Gremium Hörgeschädigter',
          'Bezirk',
          'Hamburg-Orchester',
          'Jugend',
          'Konfirmanden',
          'Kinder',
          'Musik',
          'Senioren',
          'Gemeinde Bux',
          'Gemeinde Har',
          'Gemeinde Neu',
          'Gemeinde Nor',
          'Gemeinde RoW',
          'Gemeinde Sin',
          'Gemeinde Win',
          'Verwaltung'
        ]
      }
    }
  }),
  beforeMount () {
    if (this.$store.state.Scheduler.Mode === 'edit') {
      this.Form.Values = { ...this.$store.state.Scheduler.Appointments[this.$store.state.Scheduler.SelectedID] }
    } else {
      this.Form.Values = {}
    }
  },
  beforeDestroy () {
    this.Form.Values = {}
  },
  methods: {
    execute () {
      switch (this.$store.state.Scheduler.Mode) {
        case 'edit':
          this.$emit('execute', { Component: 'DialogForm', Action: 'Change', Data: this.Form.Values });
          break;
        case 'new':
          this.$emit('execute', { Component: 'DialogForm', Action: 'Create', Data: this.Form.Values });
          break;
      }
    },
    getStartDateRange (CurrentDate) {
      return (
        CurrentDate >= date.formatDate(Date.now(), 'YYYY/MM/DD') &&
        CurrentDate <=
        date.formatDate(date.addToDate(Date.now(), { year: 5 }), 'YYYY/MM/DD')
      );
    },
    getButtonText () {
      switch (this.$store.state.Scheduler.Mode) {
        case 'edit':
          return 'Änderungen speichern';
        case 'new':
          return 'Neuen Termin speichern';
      }
    }
  }
};
</script>
