<template lang="pug">
  q-layout(view="hHh lpR fFf")
    q-header(
      v-if="$store.state.App.User.loggedIn"
      reveal elevated class="bg-primary text-white" height-hint="98")
      q-toolbar
        q-btn(dense flat round icon="menu" @click="leftDrawer = !leftDrawer")
        q-toolbar-title|Title
        q-btn(dense flat round icon="menu" @click="rightDrawer = !rightDrawer")
      //-q-tabs(align="left")
        q-route-tab(to="/Termine" label="Page One")
        q-route-tab(to="/page2" label="Page Two")
        q-route-tab(to="/page3" label="Page Three")

    q-drawer(v-model="leftDrawer" side="left" overlay bordered)

    q-drawer(v-model="rightDrawer" side="right" overlay bordered)

    q-page-container
      router-view

    q-footer(
      v-if="$store.state.App.User.loggedIn"
      reveal elevated class="bg-grey-8 text-white")
      q-toolbar
        q-toolbar-title|Title
</template>

<script>
export default {
  data: () => ({
    left: true,
    right: true
  })
}
</script>

<script>
export default {
  // name: 'LayoutName',

  data() {
    return {
      leftDrawer: false,
      rightDrawer: false
    };
  }
};
</script>
