<template lang="pug">
  q-page(padding)

    div(id="page" style="border: 1px solid; padding: 10px; width: 1000px;")
      div(id="inner" style="border: 1px dotted; padding: 1px;")
        div
          div(style="padding-top: 10px; padding-left: 5px; border-left: 1px solid blue;")| REGELMÄSSIGE VERANSTALTUNGEN und IMPRESSUM
          div(style="border-bottom: 1px solid;")
        div(style="padding-top: 10px;")|Gemeindebrief der Neuapostolischen Kirche Nord- und Ostdeutschland
        congregation
        br
        events

</template>

<script>

import congregation from './../components/congregation.vue'
import events from './../components/events.vue'

export default {
  // ####################### Component Name
  name: 'GB',
  // ####################### Used Components
  components: {
    congregation, events
  },
  // ####################### Data
  data: () => ({
    userIsAdmin: true,
    editDialog: false,
    Kopf: {
      Gemeinde: 'Buxtehude',
      Gemeinden: ['Buxtehude', 'Harburg', 'Neugraben', 'Nordheide', 'Sinstorf', 'Rotenburg', 'Winsen'],
      Adresse: {
        Strasse: 'Goethestraße',
        Hausnummer: '7',
        Postleitzahl: '21614',
        Ort: 'Buxtehude',
        Internetadresse: 'www.nak-buxtehude.de'
      }
    },
    Seelsorger: [{
      Amt: 'Priester',
      Vorname: 'Frank',
      Nachname: 'Bayer',
      Vorsteher: true,
      Vertreter: false,
      Telefon: {
        Anzeige: true,
        Vorwahl: '04168',
        Durchwahl: '911870'
      },
      Mobil: {
        Anzeige: false,
        Vorwahl: '4506',
        Durchwahl: '45456'
      },
      Adresse: {
        Anzeige: { Email: false, Adresse: false },
        Strasse: 'Teststraße',
        Hausnummer: '1',
        Ort: 'Testort',
        PLZ: '21233',
        Email: 'test@test.de'
      }
    }, {
      Amt: 'Priester',
      Vorname: 'Manfred',
      Nachname: 'Horst',
      Vorsteher: false,
      Vertreter: true,
      Telefon: {
        Anzeige: true,
        Vorwahl: '04168',
        Durchwahl: '911870'
      },
      Mobil: {
        Anzeige: false
      },
      Adresse: {
        Anzeige: { Email: false, Adresse: false }
      }
    }, {
      Amt: 'Priester',
      Vorname: 'Marcel',
      Nachname: 'Kaufmann',
      Vorsteher: false,
      Vertreter: false,
      Telefon: {
        Anzeige: true,
        Vorwahl: '04168',
        Durchwahl: '911870'
      },
      Mobil: {
        Anzeige: false
      },
      Adresse: {
        Anzeige: { Email: false, Adresse: false }
      }
    }, {
      Amt: 'Priester',
      Vorname: 'Arnold',
      Nachname: 'Radtke',
      Vorsteher: false,
      Vertreter: false,
      Telefon: {
        Anzeige: true,
        Vorwahl: '04168',
        Durchwahl: '911870'
      },
      Mobil: {
        Anzeige: false
      },
      Adresse: {
        Anzeige: { Email: false, Adresse: false }
      }
    }],
    Veranstaltungen: {
      Optionen: ['Gottesdienste', 'Vorsonntagsschule', 'Sonntagsschule', 'Religionsunterricht', 'Konfirmandenunterricht', 'Jugendstunde', 'Seniorenkreis', 'Chorprobe', 'Kindergottesdienst', 'Instrumentalgruppe', 'Gemeinsames Kaffeetrinken'],
      Veranstaltungen: ['Gottesdienste', 'Vorsonntagsschule'],
      Gottesdienste: {
        Gottesdienste: [{ Tag: 'Sonntag', Uhrzeit: '10:00' }, { Tag: 'Mittwoch', Uhrzeit: '19:30' }]
      },
      Vorsonntagsschule: null,
      Sonntagsschule: null,
      Religionsunterricht: null,
      Konfirmandenunterricht: null,
      Jugendstunde: null,
      Seniorenkreis: null,
      Chorprobe: null,
      Änderungen: null,
      Kindergottesdienst: null,
      Instrumentalgruppe: null,
      Gemeinsames_Kaffeetrinken: null
    }

  }),
  // ####################### Component Methods
  mounted () {
  },
  // ####################### Methods
  methods: {
    getClass () {
      let lstrClass = 'row'
      if (this.userIsAdmin) {
        lstrClass += ' cursor-pointer'
      }
      return lstrClass
    },
    addEntry (Type) {
      switch (Type) {
        case 'Gottesdienst':
          this.Veranstaltungen.Gottesdienste.Gottesdienste.push({ Tag: 'Montag', Uhrzeit: '00:00' })
          break
      }
    },
    removeEntry (Type, Index) {
      switch (Type) {
        case 'Gottesdienst':
          this.Veranstaltungen.Gottesdienste.Gottesdienste.splice(Index, 1)
          break
      }
    },
    holePerson (Wen) {
      let lintIndex = -1
      let lstrReturnValue = ''
      if (typeof Wen !== 'number') {
        this.Seelsorger.forEach((lobjSeelsorger, lintCounter) => {
          if (Wen === 'Vorsteher') {
            if (lobjSeelsorger.Vorsteher) {
              lintIndex = lintCounter
            }
          }
          if (Wen === 'Vertreter') {
            if (lobjSeelsorger.Vertreter) {
              lintIndex = lintCounter
            }
          }
        })
      } else {
        lintIndex = Wen
        if (this.Seelsorger[lintIndex].Vorsteher || this.Seelsorger[lintIndex].Vertreter) {
          return
        }
      }
      lstrReturnValue = '<b>' + this.Seelsorger[lintIndex].Amt + ' ' + this.Seelsorger[lintIndex].Vorname + ' ' + this.Seelsorger[lintIndex].Nachname + '</b>'
      if (this.Seelsorger[lintIndex].Telefon.Anzeige) {
        lstrReturnValue += '<br/>Tel.: ' + this.Seelsorger[lintIndex].Telefon.Vorwahl + '/' + this.Seelsorger[lintIndex].Telefon.Durchwahl
      }
      if (this.Seelsorger[lintIndex].Mobil.Anzeige) {
        lstrReturnValue += '<br/>Mobil.: ' + this.Seelsorger[lintIndex].Mobil.Vorwahl + '/' + this.Seelsorger[lintIndex].Mobil.Durchwahl
      }
      if (this.Seelsorger[lintIndex].Adresse.Anzeige.Email) {
        lstrReturnValue += '<br />Email: ' + this.Seelsorger[lintIndex].Adresse.Email
      }
      if (this.Seelsorger[lintIndex].Adresse.Anzeige.Adresse) {
        lstrReturnValue += '<br />Adresse: ' + this.Seelsorger[lintIndex].Adresse.Strasse + ' ' + this.Seelsorger[lintIndex].Adresse.Hausnummer + ', ' + this.Seelsorger[lintIndex].Adresse.PLZ + ' ' + this.Seelsorger[lintIndex].Adresse.Ort
      }
      return lstrReturnValue
    },
    holeVorsteher () {
      let lobjVorsteher = null
      let lstrVorsteher = ''
      this.Seelsorger.forEach(lobjSeelsorger => {
        if (lobjSeelsorger.Vorsteher) {
          lobjVorsteher = lobjSeelsorger
        }
      })
      /* Telefon: {
        Anzeige: true,
        Vorwahl: '04168',
        Durchwahl: '911870'
      },
      Mobil: {
        Anzeige: false,
        Vorwahl: '',
        Durchwahl: ''
      },
      Adresse: {
        Anzeige: [],
        Strasse: '',
        Hausnummer: '',
        Ort: '',
        PLZ: '',
        Email: ''
      } */

      lstrVorsteher = '<b>' + lobjVorsteher.Amt + ' ' + lobjVorsteher.Vorname + ' ' + lobjVorsteher.Nachname + '</b>'
      if (lobjVorsteher.Telefon.Anzeige) {
        lstrVorsteher += '<br/>Tel.: ' + lobjVorsteher.Telefon.Vorwahl + '/' + lobjVorsteher.Telefon.Durchwahl
      }
      if (lobjVorsteher.Mobil.Anzeige) {
        lstrVorsteher += '<br/>Mobil.: ' + lobjVorsteher.Mobil.Vorwahl + '/' + lobjVorsteher.Mobil.Durchwahl
      }
      if (lobjVorsteher.Adresse.Anzeige.Email) {
        lstrVorsteher += '<br />Email: ' + lobjVorsteher.Adresse.Email
      }
      if (lobjVorsteher.Adresse.Anzeige.Adresse) {
        lstrVorsteher += '<br />Adresse: ' + lobjVorsteher.Adresse.Strasse + ' ' + lobjVorsteher.Adresse.Hausnummer + ', ' + lobjVorsteher.Adresse.PLZ + ' ' + lobjVorsteher.Adresse.Ort
      }
      return lstrVorsteher
    }
  }
}
</script>
