<template lang="pug">
  v-dialog(v-model="isVisible" fullscreen hide-overlay transition="dialog-bottom-transition")
    v-card
      v-card-title(class="headline grey lighten-2" primary-title)
        span(v-if="EditMode === 'new'")|Neuer Eintrag
        span(v-if="EditMode === 'edit'")|Eintrag bearbeiten
        span(v-if="EditMode === 'delete'")|Eintrag löschen
        v-btn(right absolute @click="$refs.form.validate()")|Pflichtfelder anzeigen
      v-card-text
        v-form(ref="form" v-model="valid")
          v-dialog(ref="StartDateDialog" v-model="Fields.StartDate.visible" :return-value.sync="Fields.StartDate.value" persistent full-width width="290px")
            template(v-slot:activator="{ on }")
              v-text-field(color="danger" required :rules="Fields.StartDate.rules" v-model="Fields.StartDate.value" label="Veranstaltungsdatum" prepend-icon="event" readonly v-on="on" @change="startDateChanged")
            v-date-picker(v-model="Fields.StartDate.value" scrollable first-day-of-week=1 @change="startDateChanged" locale="de-DE" :min="$moment().format('YYYY-MM-DD')")
              v-spacer
              v-btn(text color="primary" @click="Fields.StartDate.visible = false")|Abbruch
              v-btn(text color="primary" @click="$refs.StartDateDialog.save(Fields.StartDate.value)")|OK          

          v-alert(type="error" transition="v-expand-x-transition" v-if="Fields.CollisionData.length > 0")
            span(v-for="(Collision, Index) in Fields.CollisionData" v-bind:key="Index")
              b|{{Collision.name}} ({{Collision.categories}}) in {{Collision.location}}
              br
              i(v-if="Collision.details !== ''")|{{Collision.details}}
                br
              span
                |Start: {{Collision.start}}
              span(v-if="Collision.end !== Collision.start")|, Ende: {{Collision.end}}
              span(v-if="Collision.changer_email !== '' && Collision.changer_email !== 'import_job'")
                br
                v-tooltip( bottom)
                  template(v-slot:activator="{ on }")
                    v-btn(elevation="1" small outlined block v-on="on")
                      v-icon|mdi-message-text-outline
                  span|Änderungsanfrage an {{Collision.changer_name}} ({{Collision.changer_email}}) stellen
              hr
          
          v-dialog(ref="StartTimeDialog" v-model="Fields.StartTime.visible" :return-value.sync="Fields.StartTime.value" persistent full-width width="290px" v-if="Fields.StartDate.value !== ''")
            template(v-slot:activator="{ on }")
              v-text-field(required :rules="Fields.StartTime.rules" v-model="Fields.StartTime.value" label="Startzeit" prepend-icon="access_time" readonly v-on="on")
            v-time-picker(v-if="Fields.StartTime.visible" v-model="Fields.StartTime.value" full-width format="24hr")
              v-spacer
              v-btn(text color="primary" @click="Fields.StartTime.visible = false")|Abbruch
              v-btn(text color="primary" @click="$refs.StartTimeDialog.save(Fields.StartTime.value)")|OK
          
          v-dialog(ref="EndTimeDialog" v-model="Fields.EndTime.visible" :return-value.sync="Fields.EndTime.value" persistent full-width width="290px" v-if="Fields.StartDate.value !== '' && Fields.StartTime.value !== ''")
            template(v-slot:activator="{ on }")
              v-text-field(v-model="Fields.EndTime.value" label="Endzeit" prepend-icon="access_time" readonly v-on="on")
            v-time-picker(v-if="Fields.EndTime.visible" v-model="Fields.EndTime.value" full-width format="24hr")
              v-spacer
              v-btn(text color="primary" @click="Fields.EndTime.visible = false")|Abbruch
              v-btn(text color="primary" @click="$refs.EndTimeDialog.save(Fields.EndTime.value)")|OK

          v-dialog(ref="EndDateDialog" v-model="Fields.EndDate.visible" :return-value.sync="Fields.EndDate.value" persistent full-width width="290px" v-if="Fields.StartDate.value !== '' && Fields.StartTime.value !== ''")
            template(v-slot:activator="{ on }")
              v-text-field(v-model="Fields.EndDate.value" label="Enddatum" prepend-icon="event" readonly v-on="on")
            v-date-picker(v-model="Fields.EndDate.value" scrollable :min="$moment(Fields.StartDate.value).format('YYYY-MM-DD')")
              v-spacer
              v-btn(text color="primary" @click="Fields.EndDate.visible = false")|Abbruch
              v-btn(text color="primary" @click="$refs.EndDateDialog.save(Fields.EndDate.value)")|OK

          v-textarea(required :rules="Fields.Summary.rules" auto-grow rows="1" outlined label="Zusammenfassung" :counter="75" v-model="Fields.Summary.value")
          
          v-textarea(outlined label="Beschreibung" v-model="Fields.Description.value" rows="2" auto-grow clearable clear-icon="cancel")
          
          v-autocomplete(required :rules="Fields.Category.rules" label="Kategorie" :items="Fields.Category.options" v-model="Fields.Category.value")
          
          //-v-select(label="Aktion" :items="Fields.Action.options" v-model="Fields.Action.value")
          
          //-v-text-field(v-model="Fields.Reference.value" label="Referenz")
          
          v-text-field(required :rules="Fields.Location.rules" v-model="Fields.Location.value" label="Ort")
          
          v-textarea(outlined label="Zur freien Verfügung" v-model="Fields.FreeText.value")
          
      v-divider
      v-card-actions
        v-spacer
        v-btn(color="primary" text @click="$emit('visibilityChanged', false)")|Abbruch
        v-btn(color="primary" text @click="$emit('visibilityChanged', false)")|Zurücksetzen
        v-btn(color="primary" text @click="processDialog" :disabled="!valid" )
          span(v-if="EditMode === 'edit'")|Speichern
          span(v-if="EditMode === 'delete'")|Löschen
          span(v-if="EditMode === 'new'" )|Erstellen
</template>
<script>
export default {
  props: ['isVisible', 'EventIndex', 'EditMode'],
  watch: {
    EventIndex() {
      let larrEvent = this.$store.state.scheduler.events[this.EventIndex]
      this.Fields.StartDate.value = larrEvent.start.split(' ')[0]
      this.Fields.StartTime.value = larrEvent.start.split(' ')[1]
      this.Fields.Summary.value = larrEvent.name
      this.Fields.Description.value = larrEvent.details
      this.Fields.Category.value = larrEvent.categories
      this.Fields.Action.value = this.EditMode
      this.Fields.Reference.value = larrEvent.uid
      this.Fields.Location.value = larrEvent.location
      this.Fields.EndDate.value = larrEvent.end.split(' ')[0]
      this.Fields.EndTime.value = larrEvent.end.split(' ')[1]
      this.Fields.FreeText.value = ''
      this.Fields.miscData['active'] = larrEvent.active
      this.Fields.miscData['changer_email'] = larrEvent.change_email
      this.Fields.miscData['changer_name'] = larrEvent.changer_name
      this.Fields.miscData['class'] = larrEvent.class
      this.Fields.miscData['color'] = larrEvent.color
      this.Fields.miscData['creation_date'] = larrEvent.creation_date
      this.Fields.miscData['dtstamp'] = larrEvent.dtstamp
      this.Fields.miscData['id'] = larrEvent.id
      this.Fields.miscData['last_modified'] = larrEvent.last_modified
      this.Fields.miscData['status'] = larrEvent.status
      this.Fields.miscData['version'] = larrEvent.version
    }
  },
  mounted() {
    if (this.isVisible) {
      this.$refs.form.validate()
    }
  },
  data: () => ({
    dialog: {
      visible: false
    },
    lboolEndsAnotherDay: false,
    FieldsCopy: {},
    Fields: {
      miscData: {},
      CollisionData: [],
      StartDate: {
        visible: false,
        value: '',
        rules: [v => !!v || 'Ein Veranstaltungsdatum wird benötigt']
      },
      StartTime: {
        visible: false,
        value: '',
        rules: [v => !!v || 'Eine Startzeit wird benötigt']
      },
      Summary: {
        value: '',
        rules: [
          v => !!v || 'Eine Zusammenfassung wird benötigt',
          v =>
            v.length >= 3 ||
            'Die Zusammenfassung muss mindestens 3 Zeichen haben',
          v =>
            v.length <= 75 ||
            'Die Zusammenfassung darf höchstens 75 Zeichen haben'
        ]
      },
      Description: {
        value: '',
        rules: []
      },
      Category: {
        value: '',
        rules: [v => !!v || 'Eine Kategorie muss gewählt werden'],
        options: [
          'Bezirk',
          'Gremium Hörgeschädigter',
          'Hamburg-Orchester',
          'Jugend',
          'Konfirmanden',
          'Kinder',
          'Musik',
          'Senioren',
          'Buxtehude',
          'Harburg',
          'Neugraben',
          'Nordheide',
          'Rotenburg',
          'Sinstorf',
          'Winsen',
          'Verwaltung'
        ]
      },
      Action: {
        value: '',
        rules: [],
        options: ['Neu', 'Ändern', 'Löschen']
      },
      Reference: {
        value: '',
        rules: []
      },
      Location: {
        value: '',
        rules: [v => !!v || 'Ein Ort wird benötigt']
      },
      EndDate: {
        visible: false,
        value: '',
        rules: []
      },
      EndTime: {
        visible: false,
        value: '',
        rules: []
      },
      FreeText: {
        value: '',
        rules: []
      }
    },

    emailRules: [],
    valid: true
  }),
  methods: {
    startDateChanged() {
      let larrEvents = this.$store.state.scheduler.events
      for(let lintCounter = 0; lintCounter < larrEvents.length; lintCounter++) {
        if (this.$moment(larrEvents[lintCounter].start.substring(0,larrEvents[lintCounter].start.indexOf(' '))).isSame(this.Fields.StartDate.value)) {
          this.Fields.CollisionData[this.Fields.CollisionData.length] = larrEvents[lintCounter]
        }
        if (this.$moment(larrEvents[lintCounter].start.substring(0,larrEvents[lintCounter].start.indexOf(' '))).isAfter(this.Fields.StartDate.value)) {
          lintCounter = larrEvents.length
        }
      }
      larrEvents = []
    },
    processDialog() {
      switch (this.EditMode) {
        case 'new':
          this.newDataset()
          break
        case 'delete':
          break
        case 'edit':
          break
      }
    },
    async editDataset() {
 /*await this.$axios.$post('func', {
        request: {
          controller: 'scheduling',
          method: 'editAppointment',
          values: {
            location: this.Fields.Location.value,
            summary: this.Fields.Summary.value,
            description: this.Fields.Description.value,
            dtstart:
              this.Fields.StartDate.value + ' ' + this.Fields.StartTime.value,
            dtend: this.Fields.EndDate.value + ' ' + this.Fields.EndTime.value,
            categories: this.Fields.Category.value,
            changer_name: this.$store.state.scheduler.editor,
            changer_email: this.$store.state.scheduler.editorEmail
          }
        }
      })
      */
      
      this.$store.commit('scheduler/addEditEvent', this.Fields)
      this.$emit('visibilityChanged', false)
    },
    async newDataset() {
      /*let lintID = await this.$axios.$post('func', {
        request: {
          controller: 'scheduling',
          method: 'newAppointment',
          values: {
            location: this.Fields.Location.value,
            summary: this.Fields.Summary.value,
            description: this.Fields.Description.value,
            dtstart:
              this.Fields.StartDate.value + ' ' + this.Fields.StartTime.value,
            dtend: this.Fields.EndDate.value + ' ' + this.Fields.EndTime.value,
            categories: this.Fields.Category.value,
            changer_name: this.$store.state.scheduler.editor,
            changer_email: this.$store.state.scheduler.editorEmail
          }
        }
      })
      this.Fields.miscData['id'] = lintID*/
      console.log('HIER')
      this.$store.commit('scheduler/addNewEvent', this.Fields)
      this.$emit('visibilityChanged', false)
    }
  }
}
</script>