<template lang="pug">
  div
    v-btn(v-if="lstrVisible === 'button'" @click="lstrVisible = 'card'")|Erfasserdaten einblenden
    v-form(v-model="valid" ref="editorForm")
      v-card(v-if="lstrVisible === 'card'")
        v-card-title|Bearbeiter
        v-card-text
          v-container
            v-row
              v-col(cols="6" md="6")
                v-text-field(v-model="fields.firstname.value" :rules="fields.firstname.rules" :counter="50" label="Vorname" required)
              v-col(cols="6" md="6")
                v-text-field(v-model="fields.lastname.value" :counter="50" label="Nachname")
            v-row
              v-col(cols="12" md="12")
                v-text-field(v-model="fields.email.value" :rules="fields.email.rules" label="E-Mail" required)
              v-col(cols="12" md="12")
                v-textarea(outlined name="input-7-4" label="Nachricht" v-model="fields.message.value")
        v-card-actions
          v-btn(color="success" :disabled="!valid" @click="validate")|Eingabe bestätigen
          v-btn(color="error" class="mr-4" @click="reset")|Zurücksetzen
          v-btn(:disabled="!lboolValidated" @click="lstrVisible = 'button'")|Ausblenden
</template>

<script>
export default {
  data: () => ({
    lboolValidated: false,
    lstrVisible: 'card',
    lboolSaved: false,
    valid: false,
    fields: {
      firstname: {
        value: '',
        rules: [
          v => !!v || 'Der Vorname muss angegeben werden',
          v => v.length >= 3 || 'Der Vorname muss mindestens 3 Zeichen haben'
        ]
      },
      lastname: {
        value: '',
        rules: [
          v => !!v || 'Der Name muss angegeben werden',
          v => v.length >= 3 || 'Der Name muss mindestens 3 Zeichen haben'
        ]
      },
      email: {
        value: '',
        rules: [
          v => !!v || 'E-Mail wird benötigt',
          v => /.+@.*\..+/.test(v) || 'Bitte gültige E-Mail-Adresse eingeben'
        ]
      },
      message: {
        value: ''
      }
    },
    name: '',
    nameRules: [
      v => !!v || 'Der Name muss angegeben werden',
      v => v.length >= 3 || 'Der Name muss mindestens 3 Zeichen haben'
    ],
    email: '',
    emailRules: [
      v => !!v || 'E-Mail wird benötigt',
      v => /.+@.*\..+/.test(v) || 'Bitte gültige E-Mail-Adresse eingeben'
    ],
    message: 'Text'
  }),
  watch: {
    valid() {
      if (!this.valid) {
        this.$emit('validation-status', false)
      }
    }
  },
  mounted() {
    this.$refs.editorForm.validate()
  },
  methods: {
    validate() {
      /*if (this.valid) {
        let lintID = this.$axios.$post('func', {
          request: {
            controller: 'user',
            method: 'findUserByData',
            values: {
              firstname: this.fields.firstname.value,
              lastname: this.fields.lastname.value,
              mail: this.fields.email.value
            }
          }
        })*/
        this.$store.commit('scheduler/creatorData', [this.name, this.email, this.message])
        this.$emit('validation-status', true)
      //}
    },
    clear() {
      this.name = ''
      this.email = ''
      this.$validator.reset()
    },
    reset() {
      this.$refs.editorForm.reset()
    }
  }
}
</script>