<template lang="pug">
  div()
    q-dialog(v-model="dialog" persistent)
      q-card(style="min-width: 350px")
        q-card-section
          div(class="text-h6")|Adressdaten bearbeiten
        q-card-section(class="q-pt-none")
          q-input(dense v-model="Kopf.Adresse.Strasse" autofocus @keyup.enter="prompt = false" label="Strasse")
          q-input(dense v-model="Kopf.Adresse.Hausnummer" label="Hausnummer")
          q-input(dense v-model="Kopf.Adresse.Postleitzahl" label="Postleitzahl")
          q-input(dense v-model="Kopf.Adresse.Ort" label="Ort")
          q-input(dense v-model="Kopf.Adresse.Internetadresse" label="Internetadresse")
        q-card-actions(align="right" class="text-primary")
          q-btn(flat label="Schließen" v-close-popup)
    div(id="congregation")
      div(class="row" style="cursor: pointer")
        div(class="col-12" v-if="edit === ''" @click="edit = 'congregation'")
          |Gemeinde {{Kopf.Gemeinde}} &nbsp;- Herausgeber -
        div(class="col-12" v-if="edit === 'congregation'")
          div(class="row")
            div(class="col-10")
              q-select(
                label="Gemeinde"
                v-model="Kopf.Gemeinde"
                :options="Kopf.Gemeinden")
            div(class="col-1")
              q-btn(icon="las la-check" flat size="xs" @click="edit = ''")
      |
    div(id="congregation_data" @click="dialog = true")
      span(id="address")
        span(id="street")
          |{{Kopf.Adresse.Strasse}}
        span(id="number")|&nbsp;{{Kopf.Adresse.Hausnummer}},
        span(id="zip")|&nbsp;{{Kopf.Adresse.Postleitzahl}}
        span(id="city")|&nbsp;{{Kopf.Adresse.Ort}}
        span(v-if="Kopf.Adresse.Internetadresse !== ''")|&nbsp;|&nbsp;{{Kopf.Adresse.Internetadresse}}
</template>

<script>
export default {
  // ####################### Component Name
  name: 'Congregation',
  // ####################### Used Components
  components: {
  },
  // ####################### Data
  data: () => ({
    dialog: false,
    edit: '',
    Kopf: {
      Gemeinde: 'Buxtehude',
      Gemeinden: ['Buxtehude', 'Harburg', 'Neugraben', 'Nordheide', 'Sinstorf', 'Rotenburg', 'Winsen'],
      Adresse: {
        Strasse: 'Goethestraße',
        Hausnummer: '7',
        Postleitzahl: '21614',
        Ort: 'Buxtehude',
        Internetadresse: 'www.nak-buxtehude.de'
      }
    }
  }),
  // ####################### Component Methods
  mounted () {
  },
  // ####################### Methods
  methods: {

  }
}
</script>
