<template lang="pug">
  div()
    q-select(
      v-model="Veranstaltungen.Veranstaltungen"
      multiple
      :options="Veranstaltungen.Optionen"
      label="Sichtbare Veranstaltungen")
    br
    div(id="container" v-if="Veranstaltungen.Veranstaltungen !== null")
      div(class="row cursor-pointer" v-if="Veranstaltungen.Veranstaltungen.includes('Gottesdienste')" @click="editDialog = true; editMode = 'Gottesdienste'")
        div(class="col" style="text-align: right;")
          |Gottesdienste:
        div(class="col" style="text-align: left; padding-left: 10px;")
          span(v-for="")
      div(class="row cursor-pointer" v-if="Veranstaltungen.Veranstaltungen.includes('Vorsonntagsschule')" @click="editDialog = true; editMode = 'Vorsonntagsschule'")
        div(class="col" style="text-align: right;")
          |Vorsonntagsschule
        div(class="col" style="text-align: left; padding-left: 10px;")
          |Tage
</template>

<script>
export default {
  // ####################### Component Name
  name: 'Congregation',
  // ####################### Used Components
  components: {
  },
  // ####################### Data
  data: () => ({
    Veranstaltungen: {
      Optionen: ['Gottesdienste', 'Vorsonntagsschule', 'Sonntagsschule', 'Religionsunterricht', 'Konfirmandenunterricht', 'Jugendstunde', 'Seniorenkreis', 'Chorprobe', 'Kindergottesdienst', 'Instrumentalgruppe', 'Gemeinsames Kaffeetrinken'],
      Veranstaltungen: ['Gottesdienste', 'Vorsonntagsschule'],
      Gottesdienste: {
        Gottesdienste: [{ Tag: 'Sonntag', Uhrzeit: '10:00' }, { Tag: 'Mittwoch', Uhrzeit: '19:30' }]
      },
      Vorsonntagsschule: null,
      Sonntagsschule: null,
      Religionsunterricht: null,
      Konfirmandenunterricht: null,
      Jugendstunde: null,
      Seniorenkreis: null,
      Chorprobe: null,
      Änderungen: null,
      Kindergottesdienst: null,
      Instrumentalgruppe: null,
      Gemeinsames_Kaffeetrinken: null
    }
  }),
  // ####################### Component Methods
  mounted () {
  },
  // ####################### Methods
  methods: {

  }
}
</script>
