<template lang="pug">
  q-page(padding)
    |Hallo

</template>

<script>

export default {
  // ####################### Component Name
  name: 'Scheduler',
  // ####################### Used Components
  components: {
  },
  // ####################### Data
  data: () => ({
  }),
  // ####################### Component Methods
  mounted () {
  },
  // ####################### Methods
  methods: {

  }
}
</script>
