<template lang="pug">
  q-dialog(v-model="Visibility.releaseNotesWindow" full-width)
    q-card
      q-toolbar
        q-avatar
          img(src="https://cdn.quasar.dev/logo/svg/quasar-logo.svg")
        q-toolbar-title
          span|Versionsinformationen
      q-card-section(class="row items-center" v-for="(Version, Index) in VersionData" :key="Index")
        div(class="q-pa-md")
          div(class="row")
            div(class="col")
              div()|Versionsdatum: {{Version['build']}}
              hr
          div(class="row")
            div(class="col")
              b|Neuerungen
              div(v-if="Version['releaseNotes']['new']")
                div(v-for="(NewFeature) in Version['releaseNotes']['new']")|-&nbsp;{{NewFeature}}
          div(class="row" v-if="Version['releaseNotes']['updated'].length > 0")
            div(class="col")
              b|Aktualisierungen
              div()
                div(v-for="(UpdatedFeature) in Version['releaseNotes']['updated']")|-&nbsp;{{UpdatedFeature}}
          div(class="row" v-if="Version['releaseNotes']['fixed'].length > 0")
            div(class="col")
              b|Behoben
              div()
                div(v-for="(Bug) in Version['releaseNotes']['fixed']")|-&nbsp;{{fixed}}
      q-card-actions(align="right")
        q-btn(
          @click="Visibility.releaseNotesWindow = !Visibility.releaseNotesWindow"
          flat
          color="primary"
          )|OK
        q-btn(flat @click="doNotShowAgain")|Nicht wieder anzeigen
</template>

<script>
/* eslint-disable semi */
/* eslint-disable standard/computed-property-even-spacing */
export default {
  props: ['VersionData', 'LocalStorageKey'],
  name: 'releaseNotes',
  components: {},
  data: () => ({
    Visibility: {
      releaseNotesWindow: false
    },
    Data: {
      VersionData: ''
    }
  }),
  created () {
    if (!this.$q.localStorage.has(this.LocalStorageKey)) {
      this.Visibility.releaseNotesWindow = true
    } else {
      if (parseInt(this.$q.localStorage.getItem(this.LocalStorageKey)) !== this.VersionData.length) {
        this.Visibility.releaseNotesWindow = true
      }
    }
  },
  mounted () {
    if (!this.$q.localStorage.has(this.LocalStorageKey)) {
      this.releaseNotesWindow = true;
    } else {
      if (
        this.$q.localStorage.getItem(this.LocalStorageKey) <
        this.VersionData.length
      ) {
        this.releaseNotesWindow = true;
      }
    }
  },
  methods: {
    doNotShowAgain () {
      this.$q.localStorage.set(this.LocalStorageKey, this.VersionData.length);
      this.Visibility.releaseNotesWindow = false;
    }
  }
};
</script>
