<template lang="pug">
  div
   h2|Kategorie-Farben
    
</template>
<script>
export default {
  props: [],
  watch: {
      },
  mounted() {
      //Get Categories
  },
  data: () => ({
      Categories: []
  }),
  methods: {
  }
}
</script>