<template lang="pug">
  q-page(padding)
    |Hallo
    b(style="cursor: pointer;" @click="$store.commit('Scheduler/Visibility', {Dialog: 'EditorData', Value: true})")|&nbsp;{{$store.state.App.User.Firstname}}
    |, hier sind die Termine:
    Options(@execute="execute" style="z-index:100;")
    Release-Notes(:VersionData="VersionData" LocalStorageKey="portal_SchedulesReleaseNotes")
    //- Editing the data
    q-dialog(
      v-model="$store.state.Scheduler.Dialogs.FormVisible"
      persistent
      full-width
      full-height
      :maximized="true"
      transition-show="slide-up"
      transition-hide="slide-down")
      Dialog-Form(@execute="execute")
    //- Editing the data of the editor
    q-dialog(
      v-model="$store.state.Scheduler.Dialogs.EditorDataVisible"
      persistent
      full-width
      full-height
      :maximized="true"
      transition-show="slide-up"
      transition-hide="slide-down")
      Editor-Data(@execute="execute")
    Appointments-Table(
      @execute="execute")
</template>

<script>
import EditorData from './../components/EditorData.vue'
import ReleaseNotes from './../../app/components/ReleaseNotes.vue'
import Options from './../components/Options.vue'
import AppointmentsTable from './../components/AppointmentsTable.vue'
import DialogForm from './../components/DialogForm.vue'
import VersionData from './../info.js'
import { date } from 'quasar'
import moment from 'moment'

export default {
  // ####################### Component Name
  name: 'Scheduler',
  // ####################### Used Components
  components: {
    EditorData,
    Options,
    AppointmentsTable,
    DialogForm,
    ReleaseNotes
  },
  // ####################### Data
  data: () => ({
    VersionData: VersionData,
    DataCopy: {},
    Dialogs: {
      EditorData: {
        visible: false
      },
      Form: {
        visible: false
      }
    }
  }),
  // ####################### Component Methods
  mounted () {
    this.initStore()
    this.initModule()
  },
  // ####################### Methods
  methods: {
    initStore () {
      this.$store.commit('Scheduler/setReleaseNotes', VersionData)
    },
    initModule () {
      this.initLoadAppointments()
      this.initUser()
    },
    initUser () {
      if (this.$q.localStorage.has('portal_SchedulesEditorData')) {
        let larrUserData = this.$q.localStorage.getItem(
          'portal_SchedulesEditorData'
        )
        if (larrUserData === undefined || larrUserData === 'undefined') {
          this.$q.localStorage.remove('portal_SchedulesEditorData')
          this.$store.commit('Scheduler/Visibility', { Dialog: 'EditorData', Value: true })
        } else {
          larrUserData = JSON.parse(larrUserData)
          this.$store.commit('App/manuallySetUser', {
            Firstname: larrUserData.Firstname,
            Lastname: larrUserData.Lastname,
            Email: larrUserData.Email
          })
        }
      } else {
        this.$store.commit('Scheduler/Visibility', { Dialog: 'EditorData', Value: true })
      }
    },
    async initLoadAppointments () {
      const larrAppointments = await this.$axios.post(this.$store.state.App.Configuration.api.url + 'scheduling' + '\\' + 'getAppointments', {})
      this.$store.commit('Scheduler/flushAppointments')
      if (larrAppointments.data !== '') {
        larrAppointments.data.forEach((Appointment, Index) => {
          Appointment.inDeletionMode = false
          Appointment.isDeleted = false
          Appointment.dtstart_Date = date.formatDate(
            Appointment.dtstart.split(' ')[0],
            'DD.MM.YYYY'
          )
          Appointment.dtstart_Time = Appointment.dtstart
            .split(' ')[1]
            .substring(0, 5)
          Appointment.dtend_Date = date.formatDate(
            Appointment.dtend.split(' ')[0],
            'DD.MM.YYYY'
          )
          Appointment.dtend_Time = Appointment.dtend
            .split(' ')[1]
            .substring(0, 5)
          Appointment.index = Index
          this.$store.commit('Scheduler/setAppointment', Appointment)
        })
      }
    },
    processData (Data) {
      switch (this.$store.state.Scheduler.Mode) {
        case 'new':

          break
        case 'edit':

          break
      }
    },
    execute (Options) {
      // DialogForm:
      // -- Abbruch der Bearbeitung
      // -- Durchführung der Anlage
      // -- Durchführung der Änderng
      if (Options.Component === 'EditorData') {
        switch (Options.Action) {
          case 'verified':
            this.$store.commit('Scheduler/Visibility', { Dialog: 'EditorData', Value: false })
            break
        }
      }
      if (Options.Component === 'DialogForm') {
        switch (Options.Action) {
          case 'Cancel':
            this.$store.commit('Scheduler/Visibility', { Dialog: 'Form', Value: false })
            break
          case 'Create':
            this.createNewAppointment(Options.Data)
            this.$store.commit('Scheduler/Visibility', { Dialog: 'Form', Value: false })
            break
          case 'Change':
            this.editAppointment(Options.Data)
            this.$store.commit('Scheduler/Visibility', { Dialog: 'Form', Value: false })
            break
        }
      }
      // AppointmentsTable:
      // -- Wunsch zum Editiren eines Datensatzes
      // -- Wunsch, einen Datensatz zu löschen
      if (Options.Component === 'AppointmentsTable') {
        switch (Options.Action) {
          case 'StartEditing':
            this.$store.commit('Scheduler/setMode', 'edit')
            this.$store.commit('Scheduler/setSelectedAppointment', this.$store.state.Scheduler.Appointments[Options.Data])
            this.$store.commit('Scheduler/setSelectedID', Options.Data)
            this.$store.commit('Scheduler/Visibility', { Dialog: 'Form', Value: true })
            break
          case 'Delete':
            this.$store.commit('Scheduler/setMode', '')
            this.deleteAppointment(Options.Index)
            break
        }
      }
      // FAB:
      // -- Wunsch zur Anlage eines neuen Datensatzes
      // -- Wunsch, den Löschmodus zu aktivieren
      // -- Wunsch, den Editor für den Benutzer zu öffnen
      if (Options.Component === 'FAB') {
        switch (Options.Action) {
          case 'New':
            this.$store.commit('Scheduler/setMode', 'new')
            this.$store.commit('Scheduler/setSelectedAppointment', {})
            this.$store.commit('Scheduler/Visibility', { Dialog: 'Form', Value: true })
            break
          case 'DeletionMode':
            if (this.$store.state.Scheduler.Mode === 'delete') {
              this.$store.commit('Scheduler/setMode', '')
            } else {
              this.$store.commit('Scheduler/setMode', 'delete')
            }
            break
          case 'EditPerson':
            this.$store.commit('Scheduler/Visibility', { Dialog: 'EditorData', Value: true })
            this.$forceUpdate()
            break
        }
      }
    },

    deleteAppointment (Index) {
      const larrAppointment = this.$store.state.Scheduler.Appointments[Index]
      larrAppointment.status_type = 'deletion'
      larrAppointment.status_status = 'approved'
      this.$store.commit('Scheduler/removeAppointment', Index)
      this.sortDates()
      this.$axios.post(this.$store.state.App.Configuration.api.url + 'scheduling' + '\\' + 'deleteAppointment', {
        request: {
          values: larrAppointment
        }
      })
    },
    editAppointment (Data) {
      const ldtNow = this.setNow()

      const ldtEndDate = this.setEndDateTime(Data.dtstart_Date, Data.dtend_Date)
      const ldtEndTime = this.setEndDateTime(Data.dtstart_Time, Data.dtend_Time)

      const lstrDtstart = this.setDateTime(Data.dtstart_Date, Data.dtstart_Time)
      const lstrDtend = this.setDateTime(ldtEndDate, ldtEndTime)

      Data.dtstart = lstrDtstart
      Data.dtend_Date = ldtEndDate
      Data.dtend_Time = ldtEndTime
      Data.dtend = lstrDtend
      Data.dtstamp = ldtNow
      Data.last_modified = ldtNow
      Data.status_type = 'change'
      Data.status_status = 'approved'

      this.$store.commit('Scheduler/updateAppointment', Data)
      Data = { ...Data }
      delete Data.id
      delete Data.dtstart_Date
      delete Data.dtstart_Time
      delete Data.dtend_Date
      delete Data.dtend_Time
      delete Data.index
      delete Data.__index
      delete Data.class
      delete Data.dtstamp
      delete Data.active
      delete Data.last_change
      delete Data.version
      delete Data.inDeletionMode
      delete Data.isDeleted

      // TODO: Was machen, wenn keine UID und keine ID vorhanden ist
      // TODO: Hinzufügen mit neuer Version
      // + 'scheduling' + '\\' + 'getAppointments'
      this.$axios.post(this.$store.state.App.Configuration.api.url + 'scheduling' + '\\' + 'changeAppointment', {
        request: {
          values: Data
        }
      })
      this.sortDates()
    },
    setEndDateTime (Start, End) {
      if (End !== '' && End !== undefined) {
        const ldtEndDate = date.buildDate({ date: End.split('.')[0], month: End.split('.')[1], year: End.split('.')[2] })
        const ldtStartDate = date.buildDate({ date: Start.split('.')[0], month: Start.split('.')[1], year: Start.split('.')[2] })
        if (date.getDateDiff(ldtStartDate, ldtEndDate, 'minutes') > 0) {
          return Start
        } else {
          return End
        }
      } else {
        return End === undefined || End === '' ? Start : End
      }
    },
    setDateTime (DateValue, TimeValue) {
      const larrTemp = DateValue.split('.')
      return larrTemp[2] + '-' + larrTemp[1] + '-' + larrTemp[0] + ' ' + TimeValue + ':00'
    },
    setNow () {
      const lintTimeStamp = Date.now()
      return date.formatDate(lintTimeStamp, 'YYYY-MM-DD HH:mm:ss')
    },
    async createNewAppointment (Data) {
      const ldtNow = this.setNow()

      const ldtEndDate = this.setEndDateTime(Data.dtstart_Date, Data.dtend_Date)
      const ldtEndTime = this.setEndDateTime(Data.dtstart_Time, Data.dtend_Time)

      const lstrDtstart = this.setDateTime(Data.dtstart_Date, Data.dtstart_Time)
      const lstrDtend = this.setDateTime(ldtEndDate, ldtEndTime)

      let larrAppointment = {
        id: -1,
        uid: '',
        location: Data.location,
        summary: Data.summary,
        description:
          Data.description === undefined ||
            Data.description === ''
            ? ''
            : Data.description,
        class: null,
        dtstart: lstrDtstart,
        dtend: lstrDtend,
        dtstamp: ldtNow,
        categories: Data.categories,
        last_modified: ldtNow,
        status_type: 'creation',
        status_status: 'approved',
        version: 1,
        user_name:
          this.$store.state.App.User.Firstname +
          '__' +
          this.$store.state.App.User.Lastname,
        user_email: this.$store.state.App.User.Email,
        user_id: '',
        active: 1,
        creation_date: ldtNow,
        dtstart_Date: Data.dtstart_Date,
        dtstart_Time: Data.dtstart_Time,
        dtend_Date: ldtEndDate,
        dtend_Time: ldtEndTime,
        index: this.$store.state.Scheduler.Appointments.length,
        __index: this.$store.state.Scheduler.Appointments.length
      }

      let larrNewAppointment = { ...larrAppointment }

      delete larrNewAppointment.uid
      delete larrNewAppointment.class
      delete larrNewAppointment.version
      delete larrNewAppointment.active
      delete larrNewAppointment.creation_date
      delete larrNewAppointment.id
      delete larrNewAppointment.dtstart_Date
      delete larrNewAppointment.dtstart_Time
      delete larrNewAppointment.dtend_Date
      delete larrNewAppointment.dtend_Time
      delete larrNewAppointment.index
      delete larrNewAppointment.__index
      // + 'scheduling' + '\\' + 'getAppointments'
      const lobjReturn = await this.$axios.post(this.$store.state.App.Configuration.api.url + 'scheduling' + '\\' + 'newAppointment', {
        request: {
          values: larrNewAppointment
        }
      })

      larrNewAppointment = undefined

      larrAppointment.id = lobjReturn.Data

      this.$store.commit('Scheduler/setAppointment', larrAppointment)
      this.sortDates()

      larrAppointment = undefined
      this.$store.commit('Scheduler/Visibility', { Dialog: 'Form', Value: false })

      if (
        lobjReturn.Data !== '0' &&
        lobjReturn.Data !== '' &&
        lobjReturn.Data !== 0
      ) {
        this.$q.notify({
          message: 'Termin erfolgreich gespeichert',
          color: 'primary'
        })
      } else {
        this.$q.notify({
          message: 'Fehler beim Speichern des Termins in der Datenbank',
          color: 'negative'
        })
      }
    },

    sortDates () {
      const larrDates = []
      const larrAppointments = {}
      let larrGlobalAppointments = this.$store.state.Scheduler.Appointments
      for (
        let lintCounter = 0;
        lintCounter < larrGlobalAppointments.length;
        lintCounter++
      ) {
        larrDates.push(moment(larrGlobalAppointments[lintCounter].dtstart))
        larrAppointments[larrGlobalAppointments[lintCounter].dtstart] =
          larrGlobalAppointments[lintCounter]
      }
      larrGlobalAppointments = undefined
      this.$store.commit('Scheduler/flushAppointments')
      do {
        const ldtSelectedDate = moment.min(larrDates)
        larrDates.splice(larrDates.indexOf(ldtSelectedDate), 1)
        this.$store.commit(
          'Scheduler/setAppointment',
          larrAppointments[ldtSelectedDate.format('YYYY-MM-DD HH:mm:ss')]
        )
      } while (larrDates.length > 0)
    },
    getSelectedString () {
      return this.selected.length === 0
        ? ''
        : `${this.selected.length} record${
        // eslint-disable-next-line indent
        this.selected.length > 1 ? 's' : ''
        } selected of ${this.data.length}`
    }

  }
}
</script>
