<template lang="pug">
  q-page(padding)
    q-dialog(v-model="editDialog" full-width)
      q-card
        q-card-section
          div(class="text-h6")|{{editMode}}
        q-card-section(v-if="editMode === 'Vorsonntagsschule'")
          div|Die Vorsonntagsschule findet statt:
          q-select(
            dense
            v-model="Test.Intervall"
            :options="Test.IntervallOptionen")
          div(v-if="Test.Intervall")
            q-select(
              dense
              v-model="Test.Jeden"
              :options="Test.JedenOptionen")
        q-card-section(v-if="editMode === 'Gottesdienste'")
          div(class="row")
            div(class="col")
              q-btn(icon="add" round color="primary" @click="addEntry('Gottesdienst')")
            div(class="col-10")
              div(class="row")
                div(class="col")
                  |Tag
                div(class="col")
                  |Uhrzeit
                div(class="col-2")
              div(class="row" v-for="(lobjEintrag, lintIndex) in Veranstaltungen.Gottesdienste.Gottesdienste" v-bind:key="lintIndex")
                div(class="col")
                  q-select(
                    dense
                    v-model="Veranstaltungen.Gottesdienste.Gottesdienste[lintIndex]['Tag']"
                    :options="Allgemein.Tage")
                div(class="col")
                  q-input(
                    dense
                    filled
                    v-model="Veranstaltungen.Gottesdienste.Gottesdienste[lintIndex]['Uhrzeit']"
                    mask="##:##"
                    hint="Format: SS:MM")
                div(class="col-2")
                  q-btn(icon="remove" round size="xs" @click="removeEntry('Gottesdienst',lintIndex)")
        q-card-section(v-if="editMode === 'Kirchenadresse'")
          div(class="row")
            div(class="col-2")
              |Strasse:
            div(class="col")
              q-input(v-model="Kopf.Adresse.Strasse" label="Strasse" dense)
          div(class="row")
            div(class="col-2")
              |Hausnummer:
            div(class="col")
              q-input(v-model="Kopf.Adresse.Hausnummer" label="Hausnummer" dense)
          div(class="row")
            div(class="col-2")
              |Postleitzahl:
            div(class="col")
              q-input(v-model="Kopf.Adresse.Postleitzahl" label="Postleitzahl" dense)
          div(class="row")
            div(class="col-2")
              |Ort:
            div(class="col")
              q-input(v-model="Kopf.Adresse.Ort" label="Ort" dense)
          div(class="row")
            div(class="col-2")
              |Internetadresse:
            div(class="col")
              q-input(v-model="Kopf.Adresse.Internetadresse" label="Internetadresse" dense)
        q-card-actions( align="right" class="text-primary")
          //-q-btn(flat label="Open another dialog" @click="secondDialog = true")
          q-btn(flat label="Schliessen" v-close-popup)
    div(id="page" style="border: 1px solid; padding: 10px; width: 1000px;")
      div(id="inner" style="border: 1px dotted; padding: 1px;")
        div
          div| REGELMÄSSIGE VERANSTALTUNGEN
          div| IMPRESSUM
        div|Gemeindebrief der Neuapostolischen Kirche Nord- und Ostdeutschland
        div(class="cursor-pointer")
          |Gemeinde&nbsp;{{Kopf.Gemeinde}}
          q-popup-edit(v-model="Kopf.Gemeinde")
            template(v-slot="{ initialValue, value, emitValue, validate, set, cancel }")
              q-select(
                v-model="Kopf.Gemeinde"
                :options="Kopf.Gemeinden"
                label="Bitte Gemeinde wählen"
                @input="emitValue")
                template(v-slot:after)
                  q-btn(flat dense color="negative" icon="cancel" @click.stop="cancel")
                  q-btn(flat dense color="positive" icon="check_circle" @click.stop="set" :disable="validate(value) === false || initialValue === value")
          | - Herausgeber -
        div(class="cursor-pointer" @click="editDialog = true; editMode = 'Kirchenadresse'")
          |{{Kopf.Adresse.Strasse}}&nbsp;{{Kopf.Adresse.Hausnummer}},&nbsp;{{Kopf.Adresse.Postleitzahl}}&nbsp;{{Kopf.Adresse.Ort}}
          span(v-if="Kopf.Adresse.Internetadresse !== ''")|&nbsp;|&nbsp;{{Kopf.Adresse.Internetadresse}}
        br
        q-select(
          v-model="Veranstaltungen.Veranstaltungen"
          multiple
          :options="Veranstaltungen.Optionen"
          label="Sichtbare Veranstaltungen")
        br
        div(id="container" v-if="Veranstaltungen.Veranstaltungen !== null")
          div(class="row cursor-pointer" v-if="Veranstaltungen.Veranstaltungen.includes('Gottesdienste')" @click="editDialog = true; editMode = 'Gottesdienste'")
            div(class="col" style="text-align: right;")
              |Gottesdienste:
            div(class="col" style="text-align: left; padding-left: 10px;")
              div(v-if="Veranstaltungen.Gottesdienste.Gottesdienste.length === 1")
                |{{Veranstaltungen.Gottesdienste.Gottesdienste[0]['Tag']}}s&nbsp;um&nbsp;{{Veranstaltungen.Gottesdienste.Gottesdienste[0]['Uhrzeit']}}&nbsp;Uhr
              div(v-if="Veranstaltungen.Gottesdienste.Gottesdienste.length === 2")
                |{{Veranstaltungen.Gottesdienste.Gottesdienste[0]['Tag']}}s&nbsp;um&nbsp;{{Veranstaltungen.Gottesdienste.Gottesdienste[0]['Uhrzeit']}}&nbsp;Uhr&nbsp;und&nbsp;{{Veranstaltungen.Gottesdienste.Gottesdienste[1]['Tag']}}s&nbsp;um&nbsp;{{Veranstaltungen.Gottesdienste.Gottesdienste[1]['Uhrzeit']}}&nbsp;Uhr
              div(v-if="Veranstaltungen.Gottesdienste.Gottesdienste.length === 3")
                |{{Veranstaltungen.Gottesdienste.Gottesdienste[0]['Tag']}}s&nbsp;um&nbsp;{{Veranstaltungen.Gottesdienste.Gottesdienste[0]['Uhrzeit']}}&nbsp;Uhr&nbsp;und&nbsp;{{Veranstaltungen.Gottesdienste.Gottesdienste[1]['Tag']}}s&nbsp;,&nbsp;{{Veranstaltungen.Gottesdienste.Gottesdienste[1]['Uhrzeit']}}&nbsp;Uhr&nbsp;und&nbsp;{{Veranstaltungen.Gottesdienste.Gottesdienste[2]['Tag']}}s&nbsp;um&nbsp;{{Veranstaltungen.Gottesdienste.Gottesdienste[2]['Uhrzeit']}}&nbsp;Uhr
          //-div(class="row")
            div(class="col")
              q-btn(icon="add" round color="primary" @click="addEntry('Gottesdienst')")
            div(class="col-10")
              div(class="row")
                div(class="col")
                  |Tag
                div(class="col")
                  |Uhrzeit
                div(class="col-2")
              div(class="row" v-for="(lobjEintrag, lintIndex) in Veranstaltungen.Gottesdienste.Gottesdienste" v-bind:key="lintIndex")
                div(class="col")
                  div(class="cursor-pointer")
                    |{{Veranstaltungen.Gottesdienste.Gottesdienste[lintIndex]['Tag']}}
                    q-popup-edit(v-model="Veranstaltungen.Gottesdienste.Gottesdienste[lintIndex]['Tag']")
                      template(v-slot="{ initialValue, value, emitValue, validate, set, cancel }")
                        q-select(
                          v-model="Veranstaltungen.Gottesdienste.Gottesdienste[lintIndex]['Tag']"
                          :options="Allgemein.Tage"
                          label="Bitte Tag wählen"
                          @input="emitValue")
                          template(v-slot:after)
                            q-btn(flat dense color="negative" icon="cancel" @click.stop="cancel")
                            q-btn(flat dense color="positive" icon="check_circle" @click.stop="set" :disable="validate(value) === false || initialValue === value")
                div(class="col")
                  |{{lobjEintrag['Uhrzeit']}}
                div(class="col-2")
                  q-btn(icon="remove" round size="xs" @click="removeEntry('Gottesdienst',lintIndex)")
          //----------------------------------------
          div(class="row cursor-pointer" v-if="Veranstaltungen.Veranstaltungen.includes('Vorsonntagsschule')" @click="editDialog = true; editMode = 'Vorsonntagsschule'")
            div(class="col" style="text-align: right;")
              |Vorsonntagsschule
            div(class="col" style="text-align: left; padding-left: 10px;")
              |Tage
          //-|
            div(class="row" v-if="Veranstaltungen.Veranstaltungen.includes('Sonntagsschule')")
            div(class="col" style="text-align: right;")
              |Sonntagsschule
            div(class="col" style="text-align: left; padding-left: 10px;")
              |Tage
          //-|
            div(class="row" v-if="Veranstaltungen.Veranstaltungen.includes('Religionsunterricht')")
            div(class="col" style="text-align: right;")
              |Religionsunterricht
            div(class="col" style="text-align: left; padding-left: 10px;")
              |Tage
          //-|
            div(class="row" v-if="Veranstaltungen.Veranstaltungen.includes('Konfirmandenunterricht')")
            div(class="col" style="text-align: right;")
              |Konfirmandenunterricht
            div(class="col" style="text-align: left; padding-left: 10px;")
              |Tage
          //-|
            div(class="row" v-if="Veranstaltungen.Veranstaltungen.includes('Jugendstunde')")
            div(class="col" style="text-align: right;")
              |Jugendstunde
            div(class="col" style="text-align: left; padding-left: 10px;")
              |Tage
          //-|
            div(class="row" v-if="Veranstaltungen.Veranstaltungen.includes('Seniorenkreis')")
            div(class="col" style="text-align: right;")
              |Seniorenkreis
            div(class="col" style="text-align: left; padding-left: 10px;")
              |Tage
          //-|
            div(class="row" v-if="Veranstaltungen.Veranstaltungen.includes('Chorprobe')")
            div(class="col" style="text-align: right;")
              |Chorprobe
            div(class="col" style="text-align: left; padding-left: 10px;")
              |Tage
          //-|Änderungen
          //-|
            div(class="row" v-if="Veranstaltungen.Veranstaltungen.includes('Kindergottesdienst')")
            div(class="col" style="text-align: right;")
              |Kindergottesdienst
            div(class="col" style="text-align: left; padding-left: 10px;")
              |Tage
          //-|
            div(class="row" v-if="Veranstaltungen.Veranstaltungen.includes('Instrumentalgruppe')")
            div(class="col" style="text-align: right;")
              |Instrumentalgruppe
            div(class="col" style="text-align: left; padding-left: 10px;")
              |Tage
          //-|
            div(class="row" v-if="Veranstaltungen.Veranstaltungen.includes('Gemeinsames Kaffeetrinken')")
            div(class="col" style="text-align: right;")
              |Gemeinsames Kaffeetrinken
            div(class="col" style="text-align: left; padding-left: 10px;")
              |Tage
        br
        b|Kontaktdaten der für die Gemeinde zuständigen Seelsorger:
        div(class="row")
          div(class="col" style="text-align: right;")|Gemeindevorsteher:
          div(class="col" style="text-align: left; padding-left:10px;" v-html="holePerson('Vorsteher')")
        div(class="row")
          div(class="col" style="text-align: right;")|Vertreter des Vorstehers:
          div(class="col" style="text-align: left; padding-left:10px;" v-html="holePerson('Vertreter')")
        div(class="row" v-for="(Amtstraeger, Index) in Seelsorger" v-bind:key="Index")
          div(class="col" style="text-align: right;")
          div(class="col" style="text-align: left; padding-left:10px;" v-html="holePerson(Index)")
        hr
        div(:class="getClass()")
          div(class="col" style="text-align: right;")|V.i.S.d.P. Niedersächsisches Pressegesetz:
          div(class="col" style="text-align: left; padding-left: 10px;")|Bezirksältester
        div(:class="getClass()")
          div(class="col" style="text-align: right;")|E-Mail
          div(class="col" style="text-align: left; padding-left: 10px;")|Bezirksältester
        div(class="row cursor-pointer")
          div(class="col" style="text-align: right;")|Verantwortlich für die Gemeindeseiten
          div(class="col" style="text-align: left; padding-left: 10px;")|Frank Bayer
        div(:class="getClass()")
          div(class="col" style="text-align: right;")|Bezirksredaktion/Herstellung
          div(class="col" style="text-align: left; padding-left: 10px;")|Christian Köster, Tel.:
        div(:class="getClass()")
          div(class="col" style="text-align: right;")|E-Mail
          div(class="col" style="text-align: left; padding-left: 10px;")|email@email.de
        div(:class="getClass()")
          div(class="col" style="text-align: right;")|Terminverwaltung Bezirk+Gemeinde
          div(class="col" style="text-align: left; padding-left: 10px;")|jans adresse
        div(class="row cursor-pointer")
          div(class="col" style="text-align: right;")|Gemeinderedaktion
          div(class="col" style="text-align: left; padding-left: 10px;")|Name + Telefonnummer
        div(class="row cursor-pointer")
          div(class="col" style="text-align: right;")|E-Mail
          div(class="col" style="text-align: left; padding-left: 10px;")|email@email.de
        div(:class="getClass()")
          div(class="col" style="text-align: right;")|Erscheinungsweise
          div(class="col" style="text-align: left; padding-left: 10px;")|Monatlich, zum
        div(:class="getClass()")
          div(class="col" style="text-align: right;")|Redaktionsschluss
          div(class="col" style="text-align: left; padding-left: 10px;")|Datum
        div(class="row cursor-pointer")
          div(class="col" style="text-align: right;")|Auflage
          div(class="col" style="text-align: left; padding-left: 10px;")|Anzahl
        div(:class="getClass()")
          div(class="col" style="text-align: right;")|C
          div(class="col" style="text-align: left; padding-left: 10px;")|asdfsdf
</template>

<script>

export default {
  // ####################### Component Name
  name: 'GB',
  // ####################### Used Components
  components: {
  },
  // ####################### Data
  data: () => ({
    userIsAdmin: true,
    editDialog: false,
    editMode: '',
    label: 'Hallo',
    Test: {
      Intervall: null,
      IntervallOptionen: ['Jeden', 'Alle', 'Einmal', 'Zweimal', 'Dreimal', 'Montags', 'Dienstags', 'Mittwochs', 'Donnerstags', 'Freitags', 'Samstags', 'Sonntags'],
      Jeden: null,
      JedenOptionen: ['ohne', '1.', '2.', '3.', '4.', '5.'],
      Wochentag: null,
      WochentagOptionen: ['vor', 'nach', 'zeitgleich'],
      Veranstaltung: null,
      VeranstaltungsOptionen: ['Gottesdienst', 'Chorprobe']
    },
    Kopf: {
      Gemeinde: 'Buxtehude',
      Gemeinden: ['Buxtehude', 'Harburg', 'Neugraben', 'Nordheide', 'Sinstorf', 'Rotenburg', 'Winsen'],
      Adresse: {
        Strasse: 'Goethestraße',
        Hausnummer: '7',
        Postleitzahl: '21614',
        Ort: 'Buxtehude',
        Internetadresse: 'www.nak-buxtehude.de'
      }
    },
    Allgemein: {
      Tage: ['Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag', 'Samstag', 'Sonntag']
    },
    Seelsorger: [{
      Amt: 'Priester',
      Vorname: 'Frank',
      Nachname: 'Bayer',
      Vorsteher: true,
      Vertreter: false,
      Telefon: {
        Anzeige: true,
        Vorwahl: '04168',
        Durchwahl: '911870'
      },
      Mobil: {
        Anzeige: false,
        Vorwahl: '4506',
        Durchwahl: '45456'
      },
      Adresse: {
        Anzeige: { Email: false, Adresse: false },
        Strasse: 'Teststraße',
        Hausnummer: '1',
        Ort: 'Testort',
        PLZ: '21233',
        Email: 'test@test.de'
      }
    }, {
      Amt: 'Priester',
      Vorname: 'Manfred',
      Nachname: 'Horst',
      Vorsteher: false,
      Vertreter: true,
      Telefon: {
        Anzeige: true,
        Vorwahl: '04168',
        Durchwahl: '911870'
      },
      Mobil: {
        Anzeige: false
      },
      Adresse: {
        Anzeige: { Email: false, Adresse: false }
      }
    }, {
      Amt: 'Priester',
      Vorname: 'Marcel',
      Nachname: 'Kaufmann',
      Vorsteher: false,
      Vertreter: false,
      Telefon: {
        Anzeige: true,
        Vorwahl: '04168',
        Durchwahl: '911870'
      },
      Mobil: {
        Anzeige: false
      },
      Adresse: {
        Anzeige: { Email: false, Adresse: false }
      }
    }, {
      Amt: 'Priester',
      Vorname: 'Arnold',
      Nachname: 'Radtke',
      Vorsteher: false,
      Vertreter: false,
      Telefon: {
        Anzeige: true,
        Vorwahl: '04168',
        Durchwahl: '911870'
      },
      Mobil: {
        Anzeige: false
      },
      Adresse: {
        Anzeige: { Email: false, Adresse: false }
      }
    }],
    Veranstaltungen: {
      Optionen: ['Gottesdienste', 'Vorsonntagsschule', 'Sonntagsschule', 'Religionsunterricht', 'Konfirmandenunterricht', 'Jugendstunde', 'Seniorenkreis', 'Chorprobe', 'Kindergottesdienst', 'Instrumentalgruppe', 'Gemeinsames Kaffeetrinken'],
      Veranstaltungen: ['Gottesdienste', 'Vorsonntagsschule'],
      Gottesdienste: {
        Gottesdienste: [{ Tag: 'Sonntag', Uhrzeit: '10:00' }, { Tag: 'Mittwoch', Uhrzeit: '19:30' }]
      },
      Vorsonntagsschule: null,
      Sonntagsschule: null,
      Religionsunterricht: null,
      Konfirmandenunterricht: null,
      Jugendstunde: null,
      Seniorenkreis: null,
      Chorprobe: null,
      Änderungen: null,
      Kindergottesdienst: null,
      Instrumentalgruppe: null,
      Gemeinsames_Kaffeetrinken: null
    }

  }),
  // ####################### Component Methods
  mounted () {
  },
  // ####################### Methods
  methods: {
    getClass () {
      let lstrClass = 'row'
      if (this.userIsAdmin) {
        lstrClass += ' cursor-pointer'
      }
      return lstrClass
    },
    addEntry (Type) {
      switch (Type) {
        case 'Gottesdienst':
          this.Veranstaltungen.Gottesdienste.Gottesdienste.push({ Tag: 'Montag', Uhrzeit: '00:00' })
          break
      }
    },
    removeEntry (Type, Index) {
      switch (Type) {
        case 'Gottesdienst':
          this.Veranstaltungen.Gottesdienste.Gottesdienste.splice(Index, 1)
          break
      }
    },
    holePerson (Wen) {
      let lintIndex = -1
      let lstrReturnValue = ''
      if (typeof Wen !== 'number') {
        this.Seelsorger.forEach((lobjSeelsorger, lintCounter) => {
          if (Wen === 'Vorsteher') {
            if (lobjSeelsorger.Vorsteher) {
              lintIndex = lintCounter
            }
          }
          if (Wen === 'Vertreter') {
            if (lobjSeelsorger.Vertreter) {
              lintIndex = lintCounter
            }
          }
        })
      } else {
        lintIndex = Wen
        if (this.Seelsorger[lintIndex].Vorsteher || this.Seelsorger[lintIndex].Vertreter) {
          return
        }
      }
      lstrReturnValue = '<b>' + this.Seelsorger[lintIndex].Amt + ' ' + this.Seelsorger[lintIndex].Vorname + ' ' + this.Seelsorger[lintIndex].Nachname + '</b>'
      if (this.Seelsorger[lintIndex].Telefon.Anzeige) {
        lstrReturnValue += '<br/>Tel.: ' + this.Seelsorger[lintIndex].Telefon.Vorwahl + '/' + this.Seelsorger[lintIndex].Telefon.Durchwahl
      }
      if (this.Seelsorger[lintIndex].Mobil.Anzeige) {
        lstrReturnValue += '<br/>Mobil.: ' + this.Seelsorger[lintIndex].Mobil.Vorwahl + '/' + this.Seelsorger[lintIndex].Mobil.Durchwahl
      }
      if (this.Seelsorger[lintIndex].Adresse.Anzeige.Email) {
        lstrReturnValue += '<br />Email: ' + this.Seelsorger[lintIndex].Adresse.Email
      }
      if (this.Seelsorger[lintIndex].Adresse.Anzeige.Adresse) {
        lstrReturnValue += '<br />Adresse: ' + this.Seelsorger[lintIndex].Adresse.Strasse + ' ' + this.Seelsorger[lintIndex].Adresse.Hausnummer + ', ' + this.Seelsorger[lintIndex].Adresse.PLZ + ' ' + this.Seelsorger[lintIndex].Adresse.Ort
      }
      return lstrReturnValue
    },
    holeVorsteher () {
      let lobjVorsteher = null
      let lstrVorsteher = ''
      this.Seelsorger.forEach(lobjSeelsorger => {
        if (lobjSeelsorger.Vorsteher) {
          lobjVorsteher = lobjSeelsorger
        }
      })
      /* Telefon: {
        Anzeige: true,
        Vorwahl: '04168',
        Durchwahl: '911870'
      },
      Mobil: {
        Anzeige: false,
        Vorwahl: '',
        Durchwahl: ''
      },
      Adresse: {
        Anzeige: [],
        Strasse: '',
        Hausnummer: '',
        Ort: '',
        PLZ: '',
        Email: ''
      } */

      lstrVorsteher = '<b>' + lobjVorsteher.Amt + ' ' + lobjVorsteher.Vorname + ' ' + lobjVorsteher.Nachname + '</b>'
      if (lobjVorsteher.Telefon.Anzeige) {
        lstrVorsteher += '<br/>Tel.: ' + lobjVorsteher.Telefon.Vorwahl + '/' + lobjVorsteher.Telefon.Durchwahl
      }
      if (lobjVorsteher.Mobil.Anzeige) {
        lstrVorsteher += '<br/>Mobil.: ' + lobjVorsteher.Mobil.Vorwahl + '/' + lobjVorsteher.Mobil.Durchwahl
      }
      if (lobjVorsteher.Adresse.Anzeige.Email) {
        lstrVorsteher += '<br />Email: ' + lobjVorsteher.Adresse.Email
      }
      if (lobjVorsteher.Adresse.Anzeige.Adresse) {
        lstrVorsteher += '<br />Adresse: ' + lobjVorsteher.Adresse.Strasse + ' ' + lobjVorsteher.Adresse.Hausnummer + ', ' + lobjVorsteher.Adresse.PLZ + ' ' + lobjVorsteher.Adresse.Ort
      }
      return lstrVorsteher
    }
  }
}
</script>
