<template>
  <div id="q-app">
    <router-view />
  </div>
</template>

<script>
import Configuration from './config.js'
export default {
  name: 'App',
  data: () => ({
    Data: {
      Configuration: Configuration
    }
  }),
  mounted () {
    // Set config from information
    this.$store.commit('App/addToConfiguration', this.Data.Configuration.Configuration)
  }
}
</script>
