<template lang="pug">
  q-page(padding)
    q-page-sticky(position="bottom-right" :offset="[18, 18]")
      q-fab(color="amber" text-color="black" icon="dehaze" direction="up")
        q-fab-action(color="green" text-color="black"  icon="add")
        q-fab-action(color="negative" text-color="black" @click="deleteMode = !deleteMode" icon="delete")
        //-q-fab-action(color="amber" text-color="black" @click="onClick" icon="alarm")
    q-dialog(v-model="confirm" persistent)
      q-card
        q-card-section(class="row items-center")
          q-avatar(icon="help" color="primary" text-color="white")
          span(class="q-ml-sm")
            span()|Diesen Termin bearbeiten
            span()|Diesen Termin löschen
        q-card-actions(align="right")
          q-btn(flat label="NEIN" color="negative" v-close-popup)
          q-btn(flat label="Ja" color="primary" v-close-popup)
    q-dialog(v-model="dialog" full-width)
      q-card
        q-toolbar
          q-avatar
            img(src="https://cdn.quasar.dev/logo/svg/quasar-logo.svg")
          q-toolbar-title
            //-span()|Neuer Eintrag
            //-span()|Eintrag bearbeiten
        q-card-section
          //-span|&nbsp;(Index:&nbsp;{{AppointmentIndex}})
            //-:options="(date) => { //return date >= date.formatDate(Date.now(), "YYYY/MM/DD") }"
        q-separator
        q-card-section
          q-form(ref="EditForm")
            div(class="row")
              div(class="col")
                q-input(
                  clearable
                    filled
                    v-model="Form.Values.dtstart_Date"
                    mask="##.##.####"
                    :rules="[v => /[0-3]{1}[0-9]{1}\.[0-1]{1}[0-9]{1}\.[1-2]{1}[019]{1}[0-9]{2}/.test(v) || 'Bitte ein gültiges Datum im Format TT.MM.JJJJ eingeben']"
                    label="Startdatum"
                    )
                    template(v-slot:append)
                      q-icon(
                        name="event"
                        class="cursor-pointer")
                        q-popup-proxy(
                          ref="qDateProxy"
                          transition-show="scale"
                          transition-hide="scale")
                          q-date(
                            :options="getStartDateRange"
                            today-btn
                            v-model="Form.Values.dtstart_Date"
                            @input="() => $refs.qDateProxy.hide()"
                            first-day-of-week="1"
                            mask="DD.MM.YYYY")
            div(
              v-if="Form.Values.dtstart_Date !== ''"
              class="row" )
              div(class="col")
                q-input(
                  clearable
                  filled
                  v-model="Form.Values.dtstart_Time"
                  mask="##:##"
                  :rules="[v => /[0-2]{1}[0-9]{1}\:[0-5]{1}[0-9]{1}/.test(v) || 'Bitte eine gültige Uhrzeit im Format HH:MM eingeben']"
                  label="Startzeit"
                  @change="v => (v !== '') ? Visibilities.EndTime = true : Visibilities.EndTime = false")
                  template(v-slot:append)
                    q-icon(
                      name="access_time"
                      class="cursor-pointer")
                      q-popup-proxy(
                        transition-show="scale"
                        transition-hide="scale")
                        q-time(v-model="Form.Values.dtstart_Time")
            div(class="row" v-if="Form.Values.dtstart_Time !== ''")
              div(class="col")
                q-input(
                  clearable
                  filled
                  v-model="Form.Values.dtend_Time"
                  mask="##:##"
                  label="Endzeit"
                  @change="v => (v !== '') ? Visibilities.EndDate = true : Visibilities.EndDate = false")
                  template(v-slot:append)
                    q-icon(
                      name="access_time"
                      class="cursor-pointer")
                      q-popup-proxy(
                        transition-show="scale"
                        transition-hide="scale")
                        q-time(
                          v-model="Form.Values.dtend_Time"
                          format24h)
            div(class="row" v-if="Form.Values.dtend_Time !== ''")
              div(class="col")
                q-input(
                  clearable
                  filled
                  v-model="Form.Values.dtend_Date"
                  mask="##.##.####"
                  label="Enddatum")
                  template(v-slot:append)
                    q-icon(
                      name="event"
                      class="cursor-pointer")
                      q-popup-proxy(
                        ref="qDateProxy"
                        transition-show="scale"
                        transition-hide="scale")
                        q-date(
                          v-model="Form.Values.dtend_Date"
                          @input="() => $refs.qDateProxy.hide()")
            div(class="row" v-if="Form.Values.dtstart_Date !== ''")
              div(class="col")
                 q-input(
                   maxlength="75"
                   v-model="Form.Values.summary"
                   filled
                   autogrow
                   label="Zusammenfassung"
                   :rules="[v => v.length > 5 || 'Bitte mindestens 5 Zeichen eingeben', v => v.length < 75 || 'Bitte maximal 75 Zeichen eingeben']")
            div(class="row" v-if="Form.Values.summary !== ''")
              div(class="col")
                 q-input(v-model="Form.Values.description" filled autogrow label="Beschreibung")
            div(class="row" v-if="Form.Values.dtstart_Date !== ''")
              div(class="col")
                q-select(
                  filled
                  v-model="Form.Values.categories"
                  use-input
                  input-debounce="0"
                  label="Kategorie"
                  :options="options"
                  @filter="filterFn"
                  :rules="[v => v.length > 0 || 'Bitte eine Auswahl treffen']")
                  template(v-slot:no-option)
                    q-item
                      q-item-section(class="text-grey")
                        |No results
              //-div(class="row")
                div(class="col")
                  q-select(filled v-model="Form.Values.action" :options="options" label="Aktion")
              //-div(class="row")
                div(class="col")
                   q-input(v-model="Form.Values.reference" filled type="text" label="Referenz")
            div(class="row" v-if="Form.Values.dtstart_Date !== ''")
              div(class="col")
                 q-input(v-model="Form.Values.location" filled type="text" label="Ort" :rules="[v => v.length > 2 || 'Bitte mindestens 3 Zeichen eingeben']")
            div(class="row" v-if="Form.Values.dtstart_Date !== ''")
              div(class="col")
                 q-input(v-model="Form.Values.freeText" filled autogrow label="Zur freien Verfügung")
        q-card-actions(align="right")
          q-btn(
            v-if="Form.Values.dtstart_Date !== '' && Form.Values.dtstart_Time !== '' && Form.Values.summary !== '' && Form.Values.categories !== '' && Form.Values.location !== ''"
            flat
            label="Änderungen speichern | Neuen Termin speichern | Löschen"
            type="submit"
            color="primary")|
          q-btn(flat @click="dialog = false")|Abbruch
    Editor-Data
    div(class="q-pa-md")
      q-table(
        :loading="true"
        title="Termine"
        :data="Data.data"
        :columns="Data.columns"
        row-key="name"
        dense
        bordered
        separator="horizontal"
        :visible-columns="visibleColumns"
        )
        <template v-slot:top-right>
          //-<q-input borderless dense debounce="300" v-model="filter" placeholder="Suchen">
          <q-input borderless dense debounce="300" placeholder="Suchen">
            <template v-slot:append>
              <q-icon name="search" />
            </template>
          </q-input>
        </template>
        template(v-slot:body="props")
          q-tr(:props="props")
            q-td()
              q-btn(round color="primary" icon="delete" v-if="deleteMode")
              q-btn(round color="primary" icon="edit" @click="editAppointment(props.row.index)")
            q-td(key="dtstart_Date" :props="props")
              |{{ props.row.dtstart_Date }}
            q-td(key="dtstart_Time" :props="props")
              |{{ props.row.dtstart_Time }}
            q-td(key="dtend_Date" :props="props")
              div(class="text-pre-wrap")|{{ props.row.dtend_Date }}
            q-td(key="dtend_Time" :props="props")
              |{{ props.row.dtend_Time }}
            q-td(key="summary" :props="props")|{{ props.row.summary }}
            q-td(key="description" :props="props")|{{ props.row.description }}
            q-td(key="categories" :props="props")
              q-badge(color="green")|{{ props.row.categories }}
            q-td(key="location" :props="props")|{{ props.row.location }}
            q-td(key="freeText" :props="props")|{{ props.row.freeText }}
          q-tr(v-show="props.expand" :props="props")
            q-td(colspan="100%")
              div(class="text-left")|{{props.row.dtstart_Date}}
        //-template(v-slot:top="props")
          div(class="col-2 q-table__title")|Termine
          q-space
          q-select(
            v-model="visibleColumns"
            multiple
            borderless
            dense
            options-dense
            :display-value="$q.lang.table.columns"
            emit-value
            map-options
            :options="Data.columns"
            option-value="name"
            style="min-width: 150px")
          q-btn(
            flat round dense
            :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
            @click="props.toggleFullscreen"
            class="q-ml-md")

          //-v  -form(ref="form" v-model="Local.valid")
            //-Kollisionshinweis
            v-alert(
              v-if="Local.Collisions.length > 0"
              type="error"
              transition="v-expand-x-transition")
            span(
              v-for="(Collision, Index) in Local.Collisions"
              :key="Index")
              b
                |{{Collision.name}} ({{Collision.categories}}) in {{Collision.location}}
              br
              i(
                v-if="Collision.details !== ''")
                |{{Collision.details}}
                br
              span
                |Start: {{Collision.start}}
              span(
                v-if="Collision.end !== Collision.start")
                |, Ende: {{Collision.end}}
              span(
                v-if="Collision.changer_email !== '' && Collision.changer_email !== 'import_job'")
                br
                v-tooltip(bottom)
                  template(v-slot:activator="{ on }")
                    v-btn(
                      elevation="1"
                      small
                      outlined
                      block
                      v-on="on")
                      v-icon|mdi-message-text-outline
                  span|Änderungsanfrage an {{Collision.changer_name}} ({{Collision.changer_email}}) stellen
              hr
            v-alert(
              v-if="Form.Values.dtstart_Time === Form.Values.dtend_Time"
              type="warning"
              transition="v-expand-x-transition")
              |Die Startzeit ist gleich der Endzeit, bitte prüfen
  //-Ort
      //-v-divider
      //-v-card-actions
        v-spacer
        v-btn(
          color="primary"
          text
          @click="$emit('visibilityChanged', false)")
          |Abbruch
        v-btn(
          color="primary"
          text
          @click="$emit('visibilityChanged', false)")
          |Zurücksetzen
        v-btn(
          color="primary"
          text
          :disabled="!Local.valid"
          @click="processDialog" )
          span(v-if="EditMode === 'edit'")
            |Speichern
          span(v-if="EditMode === 'delete'")
            |Löschen
          span(v-if="EditMode === 'new'" )
            |Erstellen

</template>

<script>
import EditorData from "components/Scheduler/EditorData.vue";
import { date } from "quasar";
export default {
  name: "Scheduler",
  components: { EditorData },
  data: () => ({
    deleteMode: false,
    axiosURL: "http://e.hh-sued.de/API/",
    selected: [],
    visibleColumns: [
      "dtstart_Date",
      "dtstart_Time",
      "dtend_Date",
      "dtend_Time",
      "summary",
      "description",
      "categories",
      "location",
      "freeText"
    ],
    Data: {
      Options: {
        Categories: {}
      },
      columns: [
        {
          name: "options",
          required: true,
          label: "Optionen",
          align: "left"
        },
        {
          name: "dtstart_Date",
          required: true,
          label: "Datum",
          align: "left",
          field: "dtstart_Date",
          format: val => `${val}`,
          sortable: true,
          classes: "bg-grey-2 ellipsis"
        },
        {
          name: "dtstart_Time",
          align: "left",
          label: "Zeit",
          field: "dtstart_Time",
          sortable: true
        },
        {
          name: "dtend_Date",
          label: "Ende",
          field: "dtend_Date",
          align: "left",
          sortable: true
        },
        {
          name: "dtend_Time",
          label: "Zeit",
          field: "dtend_Time",
          align: "left"
        },
        {
          name: "summary",
          label: "Zusammenfassung",
          field: "summary",
          align: "left"
        },
        {
          name: "description",
          label: "Beschreibung",
          field: "description",
          align: "left"
        },
        {
          name: "categories",
          label: "Kategorie",
          field: "categories",
          sortable: true,
          align: "left"
        },
        {
          name: "location",
          label: "Ort",
          field: "location",
          sortable: true,
          align: "left"
        }
      ],
      data: []
    },
    isVisible: false,
    dialog: false,
    Form: {
      Values: {}
    },
    Bearbeiten: true,
    options: ["Google", "Facebook", "Twitter", "Apple", "Oracle"],
    confirm: false
  }),
  mounted() {
    this.loadAppointments();
  },
  methods: {
    getStartDateRange(CurrentDate) {
      return (
        CurrentDate >= date.formatDate(Date.now(), "YYYY/MM/DD") &&
        CurrentDate <=
          date.formatDate(date.addToDate(Date.now(), { year: 5 }), "YYYY/MM/DD")
      );
    },
    editAppointment(Index) {
      this.dialog = true;
      this.Form.Values = this.Data.data[Index];
    },
    getSelectedString() {
      return this.selected.length === 0
        ? ""
        : `${this.selected.length} record${
            this.selected.length > 1 ? "s" : ""
          } selected of ${this.data.length}`;
    },
    async loadAppointments() {
      const timeStamp = Date.now();
      let formattedString = date.formatDate(timeStamp, "YYYY.MM.DD HH.mm.ss");
      const lobjReturn = await this.$axios.post(
        "http://e.hh-sued.de/API/index.php/get",
        {
          request: {
            table: "sched_Appointments",
            where: {
              dtstart: [formattedString, "ge"],
              active: 1
            },
            orderby: {
              columns: ["dtstart"],
              sortorder: "ASC"
            }
          }
        }
      );
      //this.$store.commit("Scheduler/insertAppointments", lobjReturn);
      this.Data.data = [];
      lobjReturn.data.forEach((Appointment, Index) => {
        Appointment["dtstart_Date"] = Appointment["dtstart"].split(" ")[0];
        Appointment["dtstart_Time"] = Appointment["dtstart"].split(" ")[1];
        Appointment["dtend_Date"] = Appointment["dtend"].split(" ")[0];
        Appointment["dtend_Time"] = Appointment["dtend"].split(" ")[1];
        Appointment["index"] = Index;
        this.Data.data.push(Appointment);
      });
    },
    filterFn(val, update) {
      if (val === "") {
        update(() => {
          this.options = ["Google", "Facebook", "Twitter", "Apple", "Oracle"];
        });
        return;
      }
    }
  }
};
</script>

