<template lang="pug">
  v-dialog(v-model="visible" fullscreen hide-overlay persistent transition="dialog-bottom-transition")
    v-form(v-model="Form.States.valid" ref="editorForm")
      v-card-title|Bearbeiter
      v-card-text
        v-container
          v-row
            v-col(cols="6" md="6")
              v-text-field(v-model="Form.Values.Firstname" :rules="Form.Rules.Firstname" :counter="50" label="Vorname" required)
            v-col(cols="6" md="6")
              v-text-field(v-model="Form.Values.Lastname" :counter="50" label="Nachname")
          v-row
            v-col(cols="12" md="12")
              v-text-field(v-model="Form.Values.Email" :rules="Form.Rules.Email" label="E-Mail" required)
            v-col(cols="12" md="12")
              v-textarea(v-model="Form.Values.Message" outlined label="Nachricht")
      v-card-actions
        v-btn(color="success" :disabled="!Form.States.valid" @click="transferToStore")|Eingabe bestätigen
        v-btn(color="error" class="mr-4" @click="reset")|Zurücksetzen
</template>

<script>
export default {
  props: ['visible'],
  data: () => ({
    Form: {
      States: {
        valid: false,
        validated: false
      },
      Values:{
        Firstname: '',
        Lastname: '',
        Email: '',
        Message: ''
      },
      Rules: {
        Firstname: [
          v => !!v || 'Der Vorname muss angegeben werden',
          v => v.length >= 3 || 'Der Vorname muss mindestens 3 Zeichen haben'
        ],
        Lastname: [
          v => !!v || 'Der Name muss angegeben werden',
          v => v.length >= 3 || 'Der Name muss mindestens 3 Zeichen haben'
        ],
        Email: [
          v => !!v || 'E-Mail wird benötigt',
          v => /.+@.*\..+/.test(v) || 'Bitte gültige E-Mail-Adresse eingeben'
        ]
      }
    }
  }),
  mounted() {
    this.$refs.editorForm.validate()
  },
  methods: {
    transferToStore(){
      //this.$store.commit('scheduler/creatorData', [this.name, this.email, this.message])
      this.$emit('update:visibility', false)
    },
    reset(){
      this.Form.Values.Firstname = ''
      this.Form.Values.Lastname = ''
      this.Form.Values.Email = ''
      this.Form.Values.Message = ''
    }
  }
}
</script>