<template lang="pug">
  q-dialog(v-model="Visibility.releaseNotesWindow" full-width)
    q-card
      q-toolbar
        q-avatar
          img(src="https://cdn.quasar.dev/logo/svg/quasar-logo.svg")
        q-toolbar-title
          span|Versionsinformationen
      q-card-section(class="row items-center" v-for="(Version, Index) in VersionData" :key="Index")
        div(class="q-pa-md")
          div(class="row")
            div(class="col")
              div(v-if="Version['name'] !== ''")|{{Version['name']}}
              span
                b|Version: {{Version['version']['major']}}.{{Version['version']['minor']}}.{{Version['version']['patch']}}
              span(v-if="Version['version']['alpha'] !== -1")|&nbsp;Alpha:&nbsp;{{Version['version']['alpha']}}
              span(v-if="Version['version']['beta'] !== -1")|&nbsp;Beta:&nbsp;{{Version['version']['beta']}}
              span(v-if="Version['version']['build'] !== -1")|&nbsp;(BV:&nbsp;{{Version['version']['build']}})
              hr
          div(class="row")
            div(class="col")
              div|Ver&ouml;ffentlichungstyp:&nbsp;
                i
                  span(v-if="Version['releaseType'] === 'development'")|Aktuell in der Entwicklung
                  span(v-if="Version['releaseType'] === 'Alpha'")|Alpha-Status
                  span(v-if="Version['releaseType'] === 'Beta'")|Beta-Status
                  span(v-if="Version['releaseType'] === 'RC'")|Veröffentlichungskandidat
                  span(v-if="Version['releaseType'] === 'Release'")|Produktiv
          div(class="row")
            div(class="col")
              b|Neuerungen
              div(v-if="Version['releaseNotes']['new']")
                div(v-for="(NewFeature) in Version['releaseNotes']['new']")|-&nbsp;{{NewFeature}}
          div(class="row")
            div(class="col")
              b|Aktualisierungen
              div(v-if="Version['releaseNotes']['updated'].length > 0")
                div(v-for="(UpdatedFeature) in Version['releaseNotes']['updated']")|-&nbsp;{{UpdatedFeature}}
              div(v-else)
                i|keine Aktualisierungen in dieser Version
          div(class="row")
            div(class="col")
              b|Behoben
              div(v-if="Version['releaseNotes']['fixed'].length > 0")
                div(v-for="(Bug) in Version['releaseNotes']['fixed']")|-&nbsp;{{fixed}}
              div(v-else)
                i|Keine Informationen vorhanden
      q-card-actions(align="right")
        q-btn(
          @click="Visibility.releaseNotesWindow = !Visibility.releaseNotesWindow"
          flat
          color="primary"
          )|OK
        q-btn(flat @click="doNotShowAgain")|Nicht wieder anzeigen
</template>

<script>
/* eslint-disable semi */
/* eslint-disable standard/computed-property-even-spacing */
export default {
  props: ['VersionData', 'LocalStorageKey'],
  name: 'releaseNotes',
  components: {},
  data: () => ({
    Visibility: {
      releaseNotesWindow: false
    },
    Data: {
      VersionData: ''
    }
  }),
  mounted () {
    if (!this.$q.localStorage.has(this.LocalStorageKey)) {
      this.releaseNotesWindow = true;
    } else {
      if (
        this.$q.localStorage.getItem(this.LocalStorageKey) <
        this.VersionData.length
      ) {
        this.releaseNotesWindow = true;
      }
    }
  },
  methods: {
    doNotShowAgain () {
      this.$q.localStorage.set(this.LocalStorageKey, this.VersionData.length);
      this.Visibility.releaseNotesWindow = false;
    }
  }
};
</script>
