<template lang="pug">
  div
    v-dialog(v-model="isVisible" fullscreen hide-overlay transition="dialog-bottom-transition")
      v-card
        v-card-title(class="headline grey lighten-2" primary-title)
          span(v-if="EditMode === 'new'")|Neuer Eintrag
          span(v-if="EditMode === 'edit'")|Eintrag bearbeiten
          span(v-if="EditMode === 'delete'")|Eintrag löschen
          v-btn(right absolute @click="$refs.form.validate()")|Pflichtfelder anzeigen
        v-card-text
          v-form(ref="form" v-model="valid")
            v-dialog(ref="StartDateDialog" v-model="Fields.StartDate.visible" :return-value.sync="Fields.StartDate.value" persistent full-width width="290px")
              template(v-slot:activator="{ on }")
                v-text-field(color="danger" required :rules="Fields.StartDate.rules" v-model="Fields.StartDate.value" label="Veranstaltungsdatum" prepend-icon="event" readonly v-on="on" @change="startDateChanged")
              v-date-picker(v-model="Fields.StartDate.value" scrollable first-day-of-week=1 @change="startDateChanged")
                v-spacer
                v-btn(text color="primary" @click="Fields.StartDate.visible = false")|Abbruch
                v-btn(text color="primary" @click="$refs.StartDateDialog.save(Fields.StartDate.value)")|OK
          
            v-dialog(ref="StartTimeDialog" v-model="Fields.StartTime.visible" :return-value.sync="Fields.StartTime.value" persistent full-width width="290px")
              template(v-slot:activator="{ on }")
                v-text-field(required :rules="Fields.StartTime.rules" v-model="Fields.StartTime.value" label="Startzeit" prepend-icon="access_time" readonly v-on="on")
              v-time-picker(v-if="Fields.StartTime.visible" v-model="Fields.StartTime.value" full-width format="24hr")
                v-spacer
                v-btn(text color="primary" @click="Fields.StartTime.visible = false")|Abbruch
                v-btn(text color="primary" @click="$refs.StartTimeDialog.save(Fields.StartTime.value)")|OK
          
            v-textarea(required :rules="Fields.Summary.rules" auto-grow rows="1" outlined label="Zusammenfassung" :counter="75" v-model="Fields.Summary.value")
          
            v-textarea(outlined label="Beschreibung" v-model="Fields.Description.value" rows="2" auto-grow clearable clear-icon="cancel")
          
            v-autocomplete(required :rules="Fields.Category.rules" label="Kategorie" :items="Fields.Category.options" v-model="Fields.Category.value")
          
            v-select(label="Aktion" :items="Fields.Action.options" v-model="Fields.Action.value")
          
            v-text-field(v-model="Fields.Reference.value" label="Referenz")
          
            v-text-field(required :rules="Fields.Location.rules" v-model="Fields.Location.value" label="Ort")
          
            v-dialog(ref="EndDateDialog" v-model="Fields.EndDate.visible" :return-value.sync="Fields.EndDate.value" persistent full-width width="290px")
              template(v-slot:activator="{ on }")
                v-text-field(v-model="Fields.EndDate.value" label="Enddatum" prepend-icon="event" readonly v-on="on")
              v-date-picker(v-model="Fields.EndDate.value" scrollable)
                v-spacer
                v-btn(text color="primary" @click="Fields.EndDate.visible = false")|Abbruch
                v-btn(text color="primary" @click="$refs.EndDateDialog.save(Fields.EndDate.value)")|OK
          
            v-dialog(ref="EndTimeDialog" v-model="Fields.EndTime.visible" :return-value.sync="Fields.EndTime.value" persistent full-width width="290px")
              template(v-slot:activator="{ on }")
                v-text-field(v-model="Fields.EndTime.value" label="Endzeit" prepend-icon="access_time" readonly v-on="on")
              v-time-picker(v-if="Fields.EndTime.visible" v-model="Fields.EndTime.value" full-width format="24hr")
                v-spacer
                v-btn(text color="primary" @click="Fields.EndTime.visible = false")|Abbruch
                v-btn(text color="primary" @click="$refs.EndTimeDialog.save(Fields.EndTime.value)")|OK
          
            v-textarea(outlined label="Zur freien Verfügung" v-model="Fields.FreeText.value")
          
          
          //-v-select(v-model="select" :items="items" :rules="[v => !!v || 'Item is required']" label="Item")
          //-v-checkbox(v-model="checkbox" :rules="[v => !!v || 'You must agree to continue!']" label="Do you agree?")
          //-v-btn(:disabled="!valid" color="success" class="mr-4" @click="validate")|Validate
          //-v-btn(color="error" class="mr-4" @click="reset")|Reset Form
          //-v-btn(color="warning" @click="resetValidation")|Reset Validation
        v-divider
        v-card-actions
          v-spacer
          v-btn(color="primary" text @click="isVisible = false")|Abbruch
          v-btn(color="primary" text @click="isVisible = false")|Zurücksetzen
          v-btn(color="primary" text @click="processDialog" :disabled="!valid" )
            span(v-if="EditMode === 'edit'")|Speichern
            span(v-if="EditMode === 'delete'")|Löschen
            span(v-if="EditMode === 'new'" )|Erstellen
    v-speed-dial(    
    v-model="fab"
    :top="false"
    :bottom="true"
    :right="true"
    :left="false"
    direction="top"
    transition="slide-y-reverse-transition"
    :absolute="true"
    :fixed="true")
      template(v-slot:activator)
        v-btn(v-model="fab" color="blue darken-2" dark fab)
          v-icon(v-if="fab")|close
          v-icon(v-else)|drag_indicator
      v-btn(fab dark small color="green")
        v-icon(@click="$emit('action','add')")|add
      v-btn(fab dark small color="green")
        v-icon(@click="$emit('action','save')")|save
      v-btn(fab dark small color="red")
        v-icon(@click="$emit('action','agenda')")|drag_handle
      v-btn(fab dark small color="red")
        v-icon(@click="$emit('action','calendar')")|calendar_today
    v-expansion-panels(
      :accordion="true"
      :popout="true"
      :multiple="false"
      value="0")
      v-expansion-panel
        v-expansion-panel-header|Termine
        v-expansion-panel-content
          div(v-for="(Job, Index) in Jobs.all" v-bind:key="Index")
            |{{Job}}
</template>

<script>
export default {
  components: {},
  data: () => ({
    Jobs: {
      all: [
        {
          JobID: 'jobID1',
          Name: 'Name1',
          Description: 'Description1'
        }
      ]
    }
  }),
  mounted() {
    this.$store.commit('ModuleVersion', '0.0.1')
    this.$store.commit('ModuleName', 'Jobverwaltung')
  },
  methods: {}
}
</script>

<style>
/* This is for documentation purposes and will not be needed in your application */
#create .v-speed-dial {
  position: absolute;
}

#create .v-btn--floating {
  position: relative;
}
</style>