<template lang="pug">
  div
    Speeddial(
      v-if="!Components.Common.visible"
      v-on:executeAction="executeAction"
      )
    Editor-Data(
      :visible="Components.Common.visible" 
      v-on:update:visibility="Components.Common.visible = $event")
    Appointment-Dialog(
      :visible="Components.AppointmentDialog.visible" 
      :AppointmentIndex="Local.AppointmentIndex" 
      :EditMode="Local.EditMode" 
      @visibilityChanged="DialogVisibilityChanged")
    Appointments(
      v-if="Local.AppointmentsLoaded" 
      :AppointmentsLoaded="Local.AppointmentsLoaded"
      @executeAction="executeAction")
</template>

<script>
import EditorData from '~/components/Scheduler/EditorData.vue'
import Speeddial from '~/components/Scheduler/Speeddial.vue'
import Appointments from '~/components/Scheduler/Appointments.vue'
import AppointmentDialog from '~/components/Scheduler/AppointmentDialog.vue'

export default {
  components: {EditorData, Speeddial, Appointments, AppointmentDialog},
  data: () => ({
    Local: {
      AppointmentsLoaded: false,
      AppointmentIndex: -1,
      EditMode: ''
    },
    Components: {
      Common: {
        visible: true
      },
      AppointmentDialog: {
        visible: false
      }
    }
  }),
  computed: {
    CommonVisibility() {
      return this.Components.Common.visible
    }
  },
  watch: {
    CommonVisibility(NewValue, OldValue) {
      if (!NewValue) {
        this.Appointments__Load()
      } else {
        this.Local.AppointmentsLoaded = false
      }
    }
  },
  methods: {
    DialogVisibilityChanged() {

    },
    async Appointments__Load() {
       const lobjReturn = await this.$axios.$post('get', {
        request: {
          table: 'sched_Appointments',
          where: {
            dtstart: [this.$moment().format('YYYY.MM.DD HH.mm.ss'), 'ge'],
            active: 1
          },
          orderby: {
            columns: ['dtstart'],
            sortorder: 'ASC'
          }
        }
      })      
      this.$store.commit('Scheduler/insertAppointments', lobjReturn)
      this.Local.AppointmentsLoaded = true
    },
    executeAction(Options) {
      switch (Options[0]) {
        case 'editor':
          this.Components.Common.visible = true
          break;
        case 'add':
          
          break;
        case 'edit':
          this.Local.EditMode = 'edit'
          this.Local.AppointmentIndex = Options[1]
          this.Components.AppointmentDialog.visible = true
          break
        case 'delete':
          console.log('delete')
          break
      }
    }
  }
}
</script>

<style>
/* This is for documentation purposes and will not be needed in your application */
#create .v-speed-dial {
  position: absolute;
}

#create .v-btn--floating {
  position: relative;
}
</style>