<template lang="pug">
  q-dialog(persistent
    :maximized="maximizedToggle"
    transition-show="slide-up"
    transition-hide="slide-down" v-model="Dialog")
    q-card
      q-toolbar
        q-avatar
          img(src="https://cdn.quasar.dev/logo/svg/quasar-logo.svg")
        q-toolbar-title
          span(class="text-weight-bold")|Bearbeiter
        q-btn(flat round dense icon="close" v-close-popup)
      q-card-section
        q-form(
          @submit="onSubmit"
          @reset="onReset"
          ref="EditorForm"
          class="q-gutter-md")
          div(class="row q-gutter-md")
            div(class="col")
              q-input(
                filled
                v-model="Form.Values.Firstname"
                label="Vorname *"
                hint="Vorname"
                lazy-rules
                :rules="[v => !!v || 'Der Vorname muss angegeben werden', v => v.length >= 3 || 'Der Vorname muss mindestens 3 Zeichen haben']")
            div(class="col")
              q-input(
                filled
                v-model="Form.Values.Lastname"
                label="Nachname *"
                lazy-rules
                :rules="[ v => !!v || 'Der Name muss angegeben werden', v => v.length >= 3 || 'Der Name muss mindestens 3 Zeichen haben']")
          div(class="row q-gutter-md")
            div(class="col")
              q-input(
                type="email"
                filled
                v-model="Form.Values.Email"
                label="E-Mail *"
                hint="E-Mail-Adresse"
                lazy-rules
                :rules="[v => !!v || 'E-Mail wird benötigt', v => /.+@.*\..+/.test(v) || 'Bitte gültige E-Mail-Adresse eingeben']")
          div(class="row q-gutter-md")
            div(class="col")
              q-input(
                v-model="Form.Values.message"
                label="Nachricht"
                filled
                autogrow)
      q-separator
      q-card-actions(align="right")
        q-btn(flat label="Eingabe bestätigen" type="submit" color="primary")|
        q-btn(flat)|Zurücksetzen
    //-v-form(v-model="Form.States.valid" ref="editorForm")
      v-card-title|Bearbeiter
      v-card-text
        v-container
          v-row
            v-col(cols="6" md="6")
              v-text-field(v-model="Form.Values.Firstname" :rules="Form.Rules.Firstname" :counter="50" label="Vorname" required)
            v-col(cols="6" md="6")
              v-text-field(v-model="Form.Values.Lastname" :counter="50" label="Nachname")
          v-row
            v-col(cols="12" md="12")
              v-text-field(v-model="Form.Values.Email" :rules="Form.Rules.Email" label="E-Mail" required)
            v-col(cols="12" md="12")
              v-textarea(v-model="Form.Values.Message" outlined label="Nachricht")
      v-card-actions
        v-btn(color="success" :disabled="!Form.States.valid" @click="transferToStore")|Eingabe bestätigen
        v-btn(color="error" class="mr-4" @click="reset")|Zurücksetzen
</template>

<script>
export default {
  props: ["visible"],
  data: () => ({
    Dialog: false,
    maximizedToggle: true,
    Form: {
      States: {
        valid: false,
        validated: false
      },
      Values: {
        Firstname: "",
        Lastname: "",
        Email: "",
        Message: ""
      }
    }
  }),
  mounted() {
    /*this.$refs.EditorForm.validate().then(success => {
      if (success) {
        
      } else {
        console.log("Schlecht");
      }
    });*/
  },
  methods: {
    onReset() {
      this.$refs.myForm.resetValidation();
    },
    onSubmit() {
      this.$refs.EditorForm.validate().then(success => {
        if (success) {
          console.log("Gut");
        } else {
          console.log("Schlecht");
        }
      });
    },
    transferToStore() {
      //this.$store.commit('scheduler/creatorData', [this.name, this.email, this.message])
      this.$emit("update:visibility", false);
    },
    reset() {
      this.Form.Values.Firstname = "";
      this.Form.Values.Lastname = "";
      this.Form.Values.Email = "";
      this.Form.Values.Message = "";
    }
  }
};
</script>
