<template lang="pug">
  div
    nuxt
</template>

<script>
export default {
  components: {},
  data: () => ({
    Selection: {
      CitationText: '',
      CitationOrigin: '',
      Congregations: [
        'Neugraben',
        'Sinstorf',
        'Harburg',
        'Nordheide',
        'Rotenburg',
        'Winsen',
        'Buxtehude'
      ],
      Year: '',
      Month: ''
    },
    Items: {
      Months: [
        'Januar',
        'Februar',
        'März',
        'April',
        'Mai',
        'Juni',
        'Juli',
        'August',
        'September',
        'Oktober',
        'November',
        'Dezember'
      ],
      Year: [],
      Congregations: [
        'Neugraben',
        'Sinstorf',
        'Harburg',
        'Nordheide',
        'Rotenburg',
        'Winsen',
        'Buxtehude'
      ]
    }
  }),
  mounted() {
    this.$moment.locale("de");
    let lintYear = parseInt(this.$moment().format('Y'))
    this.Selection.Month = this.$moment().format('MMMM')
    this.Items.Year.push(lintYear)
    for (let lintCounter = 0; lintCounter < 5; lintCounter++) {
      this.Items.Year.push(lintYear++)
    }
    this.Selection.Year = this.$moment().format('Y')
  }
}
</script>