<template lang="pug">
  div
    v-dialog(v-model="Overlays.Deletion.visible" max-with="500" persistent scrollable width="500")
      v-card
        v-card-title|Wirklich löschen
        v-card-text
          b|{{Overlays.Deletion.event.name}}
          br
          span|{{$moment(Overlays.Deletion.event.start).format('DD.MM.YYYY - HH:mm [Uhr] [(KW: ]W[)]')}}
          span(v-if="Overlays.Deletion.event.start !== Overlays.Deletion.event.end")|&nbsp;- {{$moment(Overlays.Deletion.event.end).format('DD.MM.YYYY - HH:mm [Uhr]')}}
            br
          span(v-if="Overlays.Deletion.event.details")|{{Overlays.Deletion.event.details}}
          br
          |{{Overlays.Deletion.event.location}}
        v-card-actions
          v-btn(class="mt-6" text color="primary" @click="Overlays.Deletion.visible = !Overlays.Deletion.visible")|Abbruch
          v-btn(class="mt-6" text color="error" @click="doAction('delete')")|Löschen
        
    Dialog(:isVisible="Overlays.Dialog.visible" v-bind:EventIndex="lintEventIndex" v-bind:EditMode="editMode" v-on:visibilityChanged="DialogVisibilityChanged")
    Speeddial(v-on:action="doAction" v-if="lboolValidated")
    v-overlay(:value="Overlays.Overlay.visible")
      |{{Overlays.Overlay.text}}
      v-btn(icon @click="Overlays.Overlay.visible = false")
        v-icon|mdi-close
    v-snackbar(v-model="Overlays.Snackbar.visible" :timeout="0")
      |{{ Overlays.Snackbar.text }}
      v-btn(color="pink" text @click="Overlays.Snackbar.visible = false")
        v-icon|mdi-close
    Editor-Data(v-on:validation-status="editorValidation")
    v-expansion-panels(
      :accordion="true"
      :popout="true"
      :multiple="false"
      value="0"
      v-if="lboolValidated")
      Appointments(v-bind:mode="lstrSchedulesMode" v-on:editAppointment="editAppointment" v-on:message="Message")
</template>

<script>
//import Dialog from '~/components/Scheduler/Dialog.vue'
//import Speeddial from '~/components/Scheduler/Speeddial.vue'
//import EditorData from '~/components/Scheduler/Editor.vue'
//import Appointments from '~/components/Scheduler/Appointments.vue'

export default {
  components: { Dialog, Speeddial, EditorData, Appointments },
  data: () => ({
    lintEventIndex: -1,
    editMode: '',
    lstrSchedulesMode: 'agenda',
    lboolValidated: false,
    lboolCollisions: false,
    larrPanel: [0],

    Overlays: {
      Deletion: {
        visible: false,
        event: []
      },
      Dialog: {
        visible: false
      },
      Overlay: {
        visible: false,
        text: 'Bitte zuerst die Erfasserdaten pflegen'
      },
      Snackbar: {
        visible: false,
        text: 'Bitte zuerst die Erfasserdaten pflegen'
      }
    }
  }),
  mounted() {
    this.$store.commit('ModuleVersion', '0.0.1')
    this.$store.commit('ModuleName', 'Terminverwaltung')
  },
  methods: {
    DialogVisibilityChanged(Value) {
      this.Overlays.Dialog.visible = Value
    },
    async deleteAppointment() {
      
     
        let id = await this.$axios.$post('func', {
        request: {
          controller: 'scheduling',
          method: 'deleteAppointment',
          values: {
            location: this.Overlays.Deletion.event.location,
            summary: this.Overlays.Deletion.event.name,
            dtstart: this.Overlays.Deletion.event.start,
            categories: this.Overlays.Deletion.event.categories,
            changer_name: this.$store.state.scheduler.editor,
            changer_email: this.$store.state.scheduler.editorEmail,
            id: this.Overlays.Deletion.event.id
          }
        }
      })
      /*this.$axios.$post('func', {
        request: {
          controller: 'scheduling',
          method: 'deleteAppointment',
          values: {
            location: this.Overlays.Deletion.Location.value,
            summary: this.Overlays.Deletion.Summary.value,
            description: this.Overlays.Deletion.Description.value,
            dtstart:
              this.Overlays.Deletion.StartDate.value + ' ' + this.Overlays.Deletion.StartTime.value,
            dtend: this.Overlays.Deletion.EndDate.value + ' ' + this.Overlays.Deletion.EndTime.value,
            categories: this.Overlays.Deletion.Category.value,
            changer_name: this.$store.state.scheduler.editor,
            changer_email: this.$store.state.scheduler.editorEmail
          }
        }
      })
      */
      this.$store.commit('scheduler/deleteEvent', [this.lintEventIndex, id])
      this.Overlays.Deletion.visible = false
    },
    editAppointment(Options) {
      this.lintEventIndex = Options[1]
      if (Options[0] == 'delete') {
        this.Overlays.Deletion.visible = true
        this.Overlays.Deletion.event = this.$store.state.scheduler.events[this.lintEventIndex]
      } else {
        this.editMode = Options[0]
        this.Overlays.Dialog.visible = true
      }
    },
    editorValidation(ValidationStatus) {
      this.lboolValidated = ValidationStatus
    },
    doAction(Action) {
      switch (Action) {
        case 'add':
          this.editMode = 'new'
          this.Overlays.Dialog.visible = true
          break
        case 'changeView':
          this.lstrSchedulesMode = 'agenda'
          break
        case 'delete':
          this.deleteAppointment()
          break;
      }
    }
  }
}
</script>

<style>
/* This is for documentation purposes and will not be needed in your application */
#create .v-speed-dial {
  position: absolute;
}

#create .v-btn--floating {
  position: relative;
}
</style>