<template lang="pug">
  div(class="q-pa-md")
    q-table(
      :rows-per-page-options="[10, 20,30,40, 0]"
      title="Termine"
      :data="$store.state.Scheduler.Appointments"
      :columns="Data.columns"
      row-key="name"
      dense
      bordered
      separator="horizontal"
      :visible-columns="visibleColumns"
      )
      template(v-slot:top="props")
        div(class="col-2 q-table__title")|Termine
        q-space
        //-<q-input borderless dense debounce="300" v-model="filter" placeholder="Suchen">
        //-q-input(borderless dense debounce="300" placeholder="Suchen")
          template(v-slot:append)
            q-icon(name="search")
        q-space
        //-q-select(
          v-model="visibleColumns"
          multiple
          borderless
          dense
          options-dense
          :display-value="$q.lang.table.columns"
          emit-value
          map-options
          :options="Data.columns"
          option-value="name"
          style="min-width: 150px")
        q-btn(
          flat round dense
          :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
          @click="props.toggleFullscreen"
          class="q-ml-md")
          q-tooltip
            |Vollbild umschalten
      //-template(v-slot:top-right)
      template(v-slot:body="props")
        q-tr(:props="props")
          q-td()
            q-btn(round color="negative" icon="delete" v-if="props.row.inDeletionMode" @click="$emit('execute', { Component: 'AppointmentsTable', Action: 'Delete', Index: props.row.index })")
              q-tooltip
                |Zum löschen erneut anklicken
            q-btn(round color="warning" icon="delete" v-if="!props.row.inDeletionMode && $store.state.Scheduler.Mode === 'delete'" @click="prepareDeletion(props.row.index)")
            q-btn(round color="primary" icon="edit" @click="$emit('execute', { Component: 'AppointmentsTable', Action: 'StartEditing', Data: props.row.index})")
          q-td(key="dtstart_Date" :props="props")
            |{{ props.row.dtstart_Date }}
          q-td(key="dtstart_Time" :props="props")
            |{{ props.row.dtstart_Time }}
          q-td(key="dtend_Date" :props="props")
            div(class="text-pre-wrap")|{{ props.row.dtend_Date }}
          q-td(key="dtend_Time" :props="props")
            |{{ props.row.dtend_Time }}
          q-td(key="summary" :props="props")|{{ props.row.summary }}
          q-td(key="description" :props="props")|{{ props.row.description }}
          q-td(key="categories" :props="props")
            q-badge(:color="CategoryGetColor(props.row.categories)")|{{CategoryTranslate(props.row.categories) }}
          q-td(key="location" :props="props")|{{ props.row.location }}
          q-td(key="freeText" :props="props")|{{ props.row.freeText }}
        q-tr(v-show="props.expand" :props="props")
          q-td(colspan="100%")
            div(class="text-left")|{{props.row.dtstart_Date}}
</template>

<script>
/* eslint-disable semi */
/* eslint-disable standard/computed-property-even-spacing */

export default {
  name: 'AppointmentsTable',
  components: {},
  props: ['AppointmentData', 'mode'],
  data: () => ({
    visibleColumns: [
      'dtstart_Date',
      'dtstart_Time',
      'dtend_Date',
      'dtend_Time',
      'summary',
      'description',
      'categories',
      'location',
      'freeText'
    ],
    Data: {
      columns: [
        {
          name: 'options',
          required: true,
          label: 'Optionen',
          align: 'left'
        },
        {
          name: 'dtstart_Date',
          required: true,
          label: 'Datum',
          align: 'left',
          field: 'dtstart_Date',
          format: val => `${val}`,
          sortable: false,
          classes: 'bg-grey-2 ellipsis'
        },
        {
          name: 'dtstart_Time',
          align: 'left',
          label: 'Zeit',
          field: 'dtstart_Time',
          sortable: false
        },
        {
          name: 'dtend_Date',
          label: 'Ende',
          field: 'dtend_Date',
          align: 'left',
          sortable: false
        },
        {
          name: 'dtend_Time',
          label: 'Zeit',
          field: 'dtend_Time',
          align: 'left'
        },
        {
          name: 'summary',
          label: 'Zusammenfassung',
          field: 'summary',
          align: 'left'
        },
        {
          name: 'description',
          label: 'Beschreibung',
          field: 'description',
          align: 'left'
        },
        {
          name: 'categories',
          label: 'Kategorie',
          field: 'categories',
          sortable: false,
          align: 'left'
        },
        {
          name: 'location',
          label: 'Ort',
          field: 'location',
          sortable: false,
          align: 'left'
        }
      ]
    }
  }),
  mounted () { },
  beforeUpdate () {
    this.Data.Appointments = this.AppointmentData;
  },
  methods: {
    deleteAppointment (Index) {
      this.$store.commit('Scheduler/deleteAppointment', Index)
      this.$emit('execute', { Component: 'AppointmentsTable', Action: 'Delete', Data: Index })
    },
    prepareDeletion (AppointmentIndex) {
      if (this.$store.state.Scheduler.Appointments[AppointmentIndex].inDeletionMode) {
        this.$store.commit('Scheduler/changeDeletionMode', { Index: AppointmentIndex, Status: false })
      } else {
        this.$store.commit('Scheduler/changeDeletionMode', { Index: AppointmentIndex, Status: true })
        setTimeout(() => {
          if (!this.$store.state.Scheduler.Appointments[AppointmentIndex].isDeleted) {
            this.$store.commit('Scheduler/changeDeletionMode', { Index: AppointmentIndex, Status: false })
          }
        }, 5000)
      }
    },
    CategoryTranslate (Category, Direction = 'stl') {
      // stl = short to long
      // lts = long to short
      if (Direction === 'stl') {
        switch (Category) {
          case 'Gemeinde Nor':
            return 'Nordheide';
          case 'Gemeinde Win':
            return 'Winsen';
          case 'Gemeinde Har':
            return 'Hamburg-Harburg';
          default:
            return Category;
        }
      } else {
        switch (Category) {
          case 'Nordheide':
            return 'Gemeinde Nor';
          case 'Winsen':
            return 'Gemeinde Win';
          case 'Hamburg-Harburg':
            return 'Gemeinde Har';
          default:
            return Category;
        }
      }
    },
    CategoryGetColor (Category) {
      switch (Category) {
        case 'Gemeinde Nor':
          return 'green';
        case 'Gemeinde Win':
          return 'cyan';
        case 'Gemeinde Row':
          return 'blue';
        case 'Gemeinde Har':
          return 'red';
        case 'Kinder':
          return 'purple';
        case 'Musik':
          return 'indigo';
        case 'Gemeinde Sin':
          return 'yellow';
      }
    },
    filterFn (val, update) {
      if (val === '') {
        update(() => {
          this.options = [
            'Gremium Hörgeschädigter',
            'Bezirk',
            'Hamburg-Orchester',
            'Jugend',
            'Konfirmanden',
            'Kinder',
            'Musik',
            'Senioren',
            'Buxtehude',
            'Harburg',
            'Neugraben',
            'Nordheide',
            'Rotenburg',
            'Sinstorf',
            'Winsen',
            'Verwaltung'
          ];
        });
      }
    }
  }
};
</script>
