<template lang="pug">
  div  
    v-autocomplete(v-model="Fields.DisplayItems.Values" :items="Fields.DisplayItems.Items" filled chips label="Bereiche" multiple)
    v-expansion-panels
      v-expansion-panel(v-if="Fields.DisplayItems.Values.includes('Änderungen')")
        v-expansion-panel-header|Änderungen
        v-expansion-panel-content
          v-container
            v-row()
              v-col(cols="12")
                h3|Änderungen
      ChoirRehearsal
      v-expansion-panel(v-if="Fields.DisplayItems.Values.includes('Gemeinsames Kaffeetrinken')")
        v-expansion-panel-header|Gemeindsames Kaffeetrinken
        v-expansion-panel-content
          v-container
            v-radio-group(row v-model="Fields.ChoirRehearsal.Values.Every")
                  v-radio(label="Jeden" value="every")
                  v-radio(label="Jeden, mit Ausnahme" value="exception")
            v-row
              v-col(cols="12")
                v-select(:items="Items.Weekdays" label="Wochentag" v-model="Fields.ChoirRehearsal.Values.Weekday" v-if="")
      //-v-row(v-if="Selection.Options.includes('Gottesdienste')")
        v-col(cols="12")
        h3|Gottesdienste
          //-v-autocomplete(v-model="friends" :Items="Items.services" filled chips label="Gottesdienste" multiple)
      //-v-row(v-if="Selection.Options.includes('Instrumentalgruppe')")
        v-col(cols="12")
        h3|Instrumentalgruppe
          //-v-select(:Items="Items.Year" label="Instrumentalgruppe" v-model="Selection.Year")
      //-v-row(v-if="Selection.Options.includes('Jugendstunde')")
        v-col(cols="12")
        h3|Jugendstunde
          //-v-select(:Items="Items.Year" label="Jugendstunde" v-model="Selection.Year")
      //-v-row(v-if="Selection.Options.includes('Kindergottesdienst')")
        v-col(cols="12")
        h3|Kindergottesdienst
          //-v-select(:Items="Items.Year" label="Kindergottesdienst" v-model="Selection.Year")
      //-v-row(v-if="Selection.Options.includes('Konfirmandenunterricht')")
        v-col(cols="12")
        h3|Konfirmandenunterricht
          //-v-select(:Items="Items.Year" label="Konfirmandenunterricht" v-model="Selection.Year")
      //-v-row(v-if="Selection.Options.includes('Religionsunterricht')")
        v-col(cols="12")
        h3|Religionsunterricht
          //-v-select(:Items="Items.Year" label="Religionsunterricht" v-model="Selection.Year")
      //-v-row(v-if="Selection.Options.includes('Seniorenkreis')")
        v-col(cols="12")
        h3|Seniorenkreis
          //-v-select(:Items="Items.Year" label="Seniorenkreis" v-model="Selection.Year")
      //-v-row(v-if="Selection.Options.includes('Sonntagsschule')")
        v-col(cols="12")
        h3|Sonntagsschule
          //-v-select(:Items="Items.Year" label="Sonntagsschule" v-model="Selection.Year")
      //-v-row(v-if="Selection.Options.includes('Vorsonntagsschule')")
        v-col(cols="12")
        h3|Vorsonntagsschule
          //-v-select(:Items="Items.Year" label="Vorsonntagsschule" v-model="Selection.Year")
    
</template>

<script>
import ChoirRehearsal from '~/components/gb/LetzteSeite/ChoirRehearsal.vue'
export default {
  components: {ChoirRehearsal},
  data: () => ({
    Fields: {
      DisplayItems: {
        Values: [],
        Items: [ 'Änderungen',
        'Chorprobe',
        'Gemeinsames Kaffeetrinken',
        'Gottesdienste',
        'Instrumentalgruppe',
        'Jugendstunde',
        'Kindergottesdienst',
        'Konfirmandenunterricht',
        'Religionsunterricht',
        'Seniorenkreis',
        'Sonntagsschule',
        'Vorsonntagsschule']
      },
      ChoirRehearsal: {
        Dialogs: {
          TimePickerDialog: false
        },
        Output: '',
        Values: {
          Exception: '',
          Every: '',
          Weekday: '',
          TimeType: '',
          Time: ''
        },
        Options: []
      }
    },
    Items: {
      Weekdays: [
        'Montag',
        'Dienstag',
        'Mittwoch',
        'Donnerstag',
        'Freitag',
        'Samstag',
        'Sonntag'
      ],
      PreSundaySchool: ['Sonntags, zeitgleich zum Gottesdienst'],
      SundaySchool: ['Sonntags, zeitgleich zum Gottesdienst'],
      Coffee: ['Jeden 2. Sonntag im Monat nach dem Gottesdienst'],
      OrchestraRehearsel: ['Probe nach Vereinbarung'],
      ChildrensService: [
        'Einmal im Monat zeitgleich zum Gottesdienst',
        'Nach Absprache',
        'Nach Vereinbarung'
      ],
      ChangeNote: [
        'Kurzfristige Änderungen vorbehalten. Abweichungen siehe Monatstermine.',
        'Kurzfristige Terminänderungen vorbehalten',
        'Änderungen vorbehalten – bitte die Angaben des jeweiligen Monats beachten!'
      ],
      ChoirRehearsal: [
        'Jeden Montag ab 20:00 Uhr',
        'Nach dem Sonntagsgottesdienst',
        'Sonntags nach dem Gottesdienst',
        'Montags, 19:45 Uhr',
        'Nach monatlichem Probenplan',
        'Gemeindechorprobe',
        'Montags, 19:45 Uhr'
      ],
      ReligiousEducation: [
        'Monatlich nach Absprache (siehe Terminplan)',
        'Siehe Terminplan'
      ],
      ConfirmationClasses: [
        'Monatlich nach Absprache (siehe Terminplan)',
        'Siehe Terminplan'
      ],
      YouthHours: ['Nach Absprache'],
      SeniorsMeeting: [
        'Jeden 2. Dienstag im Monat, 15:00 Uhr',
        'Jeden Monat nach Vereinbarung',
        'Nach Absprache',
        'Monatlich nach örtlicher Bekanntgabe',
        'Jeden 3. Dienstag im Monat, 15:00 Uhr'
      ],
      Services: [
        'Sonntag, 09:30 Uhr',
        'Sonntag, 10:00 Uhr',
        'Mittwoch, 19:30 Uhr',
        'Mittwoch, 20:00 Uhr',
        'Donnerstag, 19:30 Uhr',
        'Donnerstag, 20:00 Uhr'
      ],
      Options: [
        'Änderungen',
        'Chorprobe',
        'Gemeinsames Kaffeetrinken',
        'Gottesdienste',
        'Instrumentalgruppe',
        'Jugendstunde',
        'Kindergottesdienst',
        'Konfirmandenunterricht',
        'Religionsunterricht',
        'Seniorenkreis',
        'Sonntagsschule',
        'Vorsonntagsschule'
      ]
    }
  })
}
</script>