<template lang="pug">
v-dialog(
  v-model="lboolDialogVisible"
  ref="DateDialog"  
  :return-value.sync="value" 
  persistent 
  full-width 
  width="290px")
  template(v-slot:activator="{ on }")
    v-text-field(
      :value="value" 
      :rules="rules" 
      :label="label" 
      prepend-icon="event" 
      color="danger" 
      required 
      readonly 
      v-on="on"
      @input="$emit('input', $event.target.value)"
      @change="$emit('changed')")
    v-date-picker(
      :value="value"
      scrollable 
      first-day-of-week=1 
      locale="de-DE" 
      :min="$moment().format('YYYY-MM-DD')"
      @change="$emit('changed')")
      v-spacer
      v-btn(
        text 
        color="primary" 
        @click="lboolDialogVisible = false")
        |Abbruch
      v-btn(
        text 
        color="primary" 
        @click="$refs.DateDialog.save(value)")
        |OK     
</template>
<script>
export default {
  props: ['value', 'rules', 'label'],
  data: () => ({
    lboolDialogVisible: false
  }),
  methods: {
    
  }
}
</script>