<template lang="pug">
    div
      v-container(fluid)
        v-row(v-if="AppointmentsLoaded" v-for="(Appointment, Index) in $store.state.Scheduler.Appointments" :key="Index" :style="{borderBottom: '1px solid', backgroundColor: AppointmentBackgroundColor(Appointment.dtstart)}")
          v-col(cols="8" )
            v-row
              v-col(cols="10")
                h3
                  //-v-btn(fab outlined small style="margin-right: 5px;")
                    v-icon(color="red")|mdi-exclamation
                  |{{Appointment.summary}} ({{Appointment.location}})
                  v-btn(text small)|[V{{Appointment.version}}]
              v-col(cols="2")
                div(:style="{zIndex: 2, border: '3px solid white', backgroundColor: categoryBackgroundColor(Appointment.categories)}" class="text-justify")
                  |{{transformCategory(Appointment.categories)}}
            v-row
              v-col(cols="12")
                v-row
                  v-col(cols="5")
                    |{{$moment(Appointment.dtstart).format('dddd, DD.MM.YYYY - HH:mm [Uhr] [(KW: ]W[)]')}}
                  v-col(cols="2" v-if="dateNotEqual(Appointment.dtstart, Appointment.dtend)")
                    b|bis
                  v-col(cols="5" v-if="dateNotEqual(Appointment.dtstart, Appointment.dtend)")
                   |{{$moment(Appointment.dtend).format('dddd, DD.MM.YYYY - HH:mm [Uhr] [(KW: ]W[)]')}}
          v-col(cols="2")
            v-tooltip(top)
              template(v-slot:activator="{ on }")
                span(v-on="on")|{{translateStatus(Appointment.status)}}
              div|Löschanfrage = Ein Termin soll gelöscht werden, doch der Löschende ist nicht der Ersteller
              div|Erstellungsanfrage = Überprüfung, ob der Termin wirklich angelegt werden soll und nicht einfach eine 
              
          v-col(cols="2")
            div(style="margin-bottom: 1em;")
              v-btn(elevation="5" icon @click="$emit('executeAction', ['edit',Index])")
                v-icon|mdi-pencil
            div
              v-btn(elevation="5" icon bottom @click="$emit('executeAction', ['delete', Index])")
                v-icon|mdi-delete
                
      //-<div v-if="mode === 'calendar'">
        <v-row class="fill-height">
          <v-col>
            <v-sheet height="64">
              <v-toolbar flat>
                <v-btn outlined class="mr-4" @click="setToday">Heute</v-btn>
                <v-btn fab text small @click="prev">
                  <v-icon small>mdi-chevron-left</v-icon>
                </v-btn>
                <v-btn fab text small @click="next">
                  <v-icon small>mdi-chevron-right</v-icon>
                </v-btn>
                <v-toolbar-title>{{ title }}</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-menu bottom right>
                  <template v-slot:activator="{ on }">
                    <v-btn outlined v-on="on">
                      <span>{{ typeToLabel[type] }}</span>
                      <v-icon right>mdi-menu-down</v-icon>
                    </v-btn>
                  </template>
                  <v-list>
                    <v-list-item @click="type = 'day'; mode='calendar'">
                      <v-list-item-title>Tag</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="type = 'week'; mode='calendar'">
                      <v-list-item-title>Woche</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="type = 'month'; mode='calendar'">
                      <v-list-item-title>Monat</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="type = '4day'; mode='calendar'">
                      <v-list-item-title>4 Tage</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="mode = 'agenda'">
                      <v-list-item-title>Agenda</v-list-item-title>
                    </v-list-item>
                  </v-list>
                </v-menu>
              </v-toolbar>
            </v-sheet>
            <v-sheet height="600">
              v-calendar(
                locale="de-DE"
                ref="calendar"
                v-model="focus"
                color="primary"
                :events="events"
                :event-color="getEventColor"
                :event-margin-bottom="3"
                :now="today"
                :type="type"
                @click:event="showEvent"
                @click:more="viewDay"
                @click:date="viewDay"
                @change="updateRange")
              v-menu(
                v-model="selectedOpen"
                :close-on-content-click="false"
                :activator="selectedElement"
                full-width
                offset-x)
                <v-card color="grey lighten-4" min-width="350px" flat>
                  <v-toolbar :color="selectedEvent.color" dark>
                    <v-btn icon>
                      <v-icon>mdi-pencil</v-icon>
                    </v-btn>
                    <v-toolbar-title v-html="selectedEvent.summary"></v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-btn icon>
                      <v-icon>mdi-delete</v-icon>
                    </v-btn>
                    <v-btn icon>
                      <v-icon>mdi-email</v-icon>
                    </v-btn>
                  </v-toolbar>
                  <v-card-text color="secondary">
                    <span style="color:blue" v-html="selectedEvent.details"></span>
                  </v-card-text>
                  <v-card-actions>
                    <v-btn text color="secondary" @click="selectedOpen = false">Abbruch</v-btn>
                  </v-card-actions>
                </v-card>
              </v-menu>
            </v-sheet>
          </v-col>
        </v-row>
      </div>
</template>

<script>
export default {
  props: ['mode', 'validated', 'AppointmentsLoaded'],
  data: () => ({
    configuration: {},
    today: '2019-01-08',
    focus: '2019-01-08',
    type: 'month',
    typeToLabel: {
      month: 'Monat',
      week: 'Woche',
      day: 'Tag',
      '4day': '4 Tage'
    },
    start: null,
    end: null,
    selectedEvent: {},
    selectedElement: null,
    selectedOpen: false,
    emptyevents: []
  }),
  mounted() {
    this.$moment.locale('de')
    this.getConfig()
  },
  computed: {
    title() {
      const { start, end } = this
      if (!start || !end) {
        return ''
      }

      const startMonth = this.monthFormatter(start)
      const endMonth = this.monthFormatter(end)
      const suffixMonth = startMonth === endMonth ? '' : endMonth

      const startYear = start.year
      const endYear = end.year
      const suffixYear = startYear === endYear ? '' : endYear

      const startDay = start.day + this.nth(start.day)
      const endDay = end.day + this.nth(end.day)

      switch (this.type) {
        case 'month':
          return `${startMonth} ${startYear}`
        case 'week':
        case '4day':
          return `${startMonth} ${startDay} ${startYear} - ${suffixMonth} ${endDay} ${suffixYear}`
        case 'day':
          return `${startMonth} ${startDay} ${startYear}`
      }
      return ''
    },
    monthFormatter() {
      return this.$refs.calendar.getFormatter({
        timeZone: 'UTC',
        month: 'long'
      })
    }
  },

  methods: {
    async getConfig() {
      const larrReturn = await this.$axios.$post('cget', {
			request: {
				module: "scheduler",
				group: "CategoryBackgroundColor"
			}
    })

    this.configuration['CategoryBackgroundColor'] = {}
    for (let lintCounter = 0; lintCounter < larrReturn.length; lintCounter++) {
      
      this.configuration['CategoryBackgroundColor'][larrReturn[lintCounter]['config_key']] = larrReturn[lintCounter]['config_value']
    }

    const larrReturn = await this.$axios.$post('cget', {
			request: {
				module: "scheduler",
				group: "EventBackgroundColor"
			}
    })

    this.configuration['EventBackgroundColor'] = {}
    for (let lintCounter = 0; lintCounter < larrReturn.length; lintCounter++) {
      
      this.configuration['EventBackgroundColor'][larrReturn[lintCounter]['config_key']] = larrReturn[lintCounter]['config_value']
    }
    },
    categoryBackgroundColor(Category) {
      switch (Category) {
        case 'Gemeinde Nor':
          return '#64B5F6'
        case 'Gemeinde Win':
          return '#FFCDD2'
        case 'Gemeinde RoW':
          return '#B2EBF2'
        case 'Gemeinde Har':
          return '#F0F4C3'
        case 'Kinder':
          return '#A5D6A7'
        case 'Musik':
          return '#D7CCC8'
        case 'Gemeinde Sin':
          return '#E0E0E0'
      }
    },
    AppointmentBackgroundColor(DateValue) {
      //'rgb(244, 176, 132)'
      switch (this.$moment(DateValue).format('dddd')) {
        case 'Mittwoch':
          case 'Wednesday':
          return 'rgb(189, 215, 238)'
        case 'Samstag': 
        case 'Saturday':
          return 'rgb(252, 228, 214)'
        case 'Sonntag': 
        case 'Sunday':
          return 'rgb(244, 176, 132)'
      }
    },
    translateStatus(Status) {
      switch (Status) {
        case 'imported':
          return 'OK'
        case 'requestDeletion':
          return 'Löschanfrage'
        case 'requestCreation':
          return 'Erstellungsanfrage'
      }
    },
    transformCategory(Category) {
      switch (Category) {
        case 'Gemeinde RoW':
          return 'Gemeinde Rotenburg'
        case 'Gemeinde Win':
          return 'Gemeinde Winsen'
        case 'Gemeinde Sin':
          return 'Gemeinde Sinstorf'
        case 'Gemeinde Neu':
          return 'Gemeinde Neugraben'
        case 'Gemeinde Bux':
          return 'Gemeinde Buxtehude'
        case 'Gemeinde Har':
          return 'Gemeinde Harburg'
        case 'Gemeinde Nor':
          return 'Gemeinde Nordheide'
        default:
          return Category
      }
    },
    dateNotEqual(Start, End) {
      return this.$moment(End).isAfter(this.$moment(Start))
    },
    processData(RawData) {
      /*RawData.forEach(larrSingleData => {
        this.$store.commit('scheduler/insertEvent', {
          name: larrSingleData.summary,
          details: larrSingleData.description,
          start: larrSingleData.dtstart,
          end: larrSingleData.dtend,
          color: this.getColor(larrSingleData.categories),
          categories: larrSingleData.categories,
          active: larrSingleData.active,
          changer_email: larrSingleData.changer_email,
          changer_name: larrSingleData.changer_name,
          class: larrSingleData.class,
          creation_date: larrSingleData.creation_date,
          dtstamp: larrSingleData.dtstamp,
          id: larrSingleData.id,
          last_modified: larrSingleData.last_modified,
          location: larrSingleData.location,
          status: larrSingleData.status,
          uid: larrSingleData.uid,
          version: larrSingleData.version
        })
      })*/
    },
    getColor(Category) {
      return 'blue'
    },
    viewDay({ date }) {
      this.focus = date
      this.type = 'day'
    },
    getEventColor(event) {
      return event.color
    },
    setToday() {
      this.focus = this.today
    },
    prev() {
      this.$refs.calendar.prev()
    },
    next() {
      this.$refs.calendar.next()
    },
    showEvent({ nativeEvent, event }) {
      const open = () => {
        this.selectedEvent = event
        this.selectedElement = nativeEvent.target
        setTimeout(() => (this.selectedOpen = true), 10)
      }

      if (this.selectedOpen) {
        this.selectedOpen = false
        setTimeout(open, 10)
      } else {
        open()
      }

      nativeEvent.stopPropagation()
    },
    updateRange({ start, end }) {
      // You could load events from an outside source (like database) now that we have the start and end dates on the calendar
      this.start = start
      this.end = end
    },
    nth(d) {
      return d > 3 && d < 21
        ? 'th'
        : ['th', 'st', 'nd', 'rd', 'th', 'th', 'th', 'th', 'th', 'th'][d % 10]
    }
  }
}
</script>