<template lang="pug">
  v-expansion-panel(v-if="Fields.DisplayItems.Values.includes('Chorprobe')")
    v-expansion-panel-header|Chorprobe
      v-expansion-panel-content
        v-container
          v-row()
            v-col(cols="12")
              h3|Chorprobe
              v-radio-group(row v-model="Fields.ChoirRehearsal.Values.Every")
                v-radio(label="Jeden" value="every")
                v-radio(label="Jeden, mit Ausnahme" value="exception")
              v-select(:items="Items.Weekdays" label="Wochentag" v-model="Fields.ChoirRehearsal.Values.Weekday" v-if="Fields.ChoirRehearsal.Values.Every !== ''")
              v-select(:items="['Uhrzeit','Nach dem Gottesdienst', 'Ab']" label="Wann" v-model="Fields.ChoirRehearsal.Values.TimeType" v-if="Fields.ChoirRehearsal.Values.Weekday !== ''")
              v-dialog(v-if="Fields.ChoirRehearsal.Values.TimeType === 'Uhrzeit' || Fields.ChoirRehearsal.Values.TimeType === 'Ab'" ref="ChoirRehearsal_Time" v-model="Fields.ChoirRehearsal.Dialogs.TimePickerDialog" :return-value.sync="Fields.ChoirRehearsal.Values.Time" persistent full-width width="290px")
                template(v-slot:activator="{ on }")
                  v-text-field(v-model="Fields.ChoirRehearsal.Values.Time" label="Uhrzeit" prepend-icon="access_time" readonly v-on="on")
                v-time-picker(v-if="Fields.ChoirRehearsal.Dialogs.TimePickerDialog" v-model="Fields.ChoirRehearsal.Values.Time" full-width format="24h")
                  div(class="flex-grow-1")
                  v-btn(text color="primary" @click="Fields.ChoirRehearsal.Dialogs.TimePickerDialog = false")|Abbruch
                  v-btn(text color="primary" @click="$refs.ChoirRehearsal_Time.save(Fields.ChoirRehearsal.Values.Time)")|OK
              div(v-if="Fields.ChoirRehearsal.Values.Every === 'exception'")
                h4|Ausnahme
                v-select(:items="['1. ' + Fields.ChoirRehearsal.Values.Weekday + ' im Monat','2. ' + Fields.ChoirRehearsal.Values.Weekday + ' im Monat', '3. ' + Fields.ChoirRehearsal.Values.Weekday + ' im Monat', '4. ' + Fields.ChoirRehearsal.Values.Weekday + ' im Monat', '5. ' + Fields.ChoirRehearsal.Values.Weekday + ' im Monat']" label="Wann" v-model="Fields.ChoirRehearsal.Values.Exception")
              div
                |Ausgabe                  br
                span(v-if="Fields.ChoirRehearsal.Values.Weekday !== ''")|{{Fields.ChoirRehearsal.Values.Weekday + 's'}}
                span(v-if="Fields.ChoirRehearsal.Values.TimeType === 'Nach dem Gottesdienst'")|&nbsp;nach dem Gottesdienst
                span(v-if="Fields.ChoirRehearsal.Values.TimeType === 'Ab'")|&nbsp;ab
                span(v-if="Fields.ChoirRehearsal.Values.TimeType === 'Uhrzeit'")|&nbsp;um
                span(v-if="Fields.ChoirRehearsal.Values.TimeType === 'Ab' || Fields.ChoirRehearsal.Values.TimeType === 'Uhrzeit'")|&nbsp;{{Fields.ChoirRehearsal.Values.Time}} Uhr
                span(v-if="Fields.ChoirRehearsal.Values.Every === 'exception'")|. Ausnahme: {{Fields.ChoirRehearsal.Values.Exception}}
</template>

<script>
</script>