<div id="release_notes">
  <div id="0.1.0b">
    <div>Version:</div>
    <div>Interne Nummer: sdjfk</div>
    <div>Veröffentlichungsdatum: dsafasdf</div>
    <div>
      Hinzugefügt:
      <div>Ansicht der Termine in Tabellenform</div>
      <div></div>
    </div>
  </div>
</div>
