<template lang="pug">
  v-dialog(v-model="visible" fullscreen hide-overlay transition="dialog-bottom-transition")
    v-card
      v-card-title(class="headline grey lighten-2" primary-title)
        span(v-if="EditMode === 'new'")|Neuer Eintrag
        span(v-if="EditMode === 'edit'")|Eintrag bearbeiten
        span(v-if="EditMode === 'delete'")|Eintrag löschen
        span|&nbsp;(Index:&nbsp;{{AppointmentIndex}})
        v-btn(right absolute @click="$refs.form.validate()")|Pflichtfelder anzeigen
      v-card-text
        v-form(ref="form" v-model="Local.valid")
          //-Startdatum
          v-dialog(
            v-model="Form.Visibility.dtstart_Date"
            ref="StartDateDialog"  
            :return-value.sync="Form.Values.dtstart_Date" 
            persistent 
            full-width 
            width="290px")
            template(v-slot:activator="{ on }")
              v-text-field(
                v-model="Form.Values.dtstart_Date" 
                :rules="Form.Rules.dtstart_Date" 
                label="Veranstaltungsdatum" 
                prepend-icon="event" 
                color="danger" 
                required 
                readonly 
                v-on="on" 
                @change="startDateChanged")
            v-date-picker(
              v-model="Form.Values.dtstart_Date" 
              scrollable 
              first-day-of-week=1 
              locale="de-DE" 
              :min="$moment().format('YYYY-MM-DD')"
              @change="startDateChanged")
              v-spacer
              v-btn(
                text 
                color="primary" 
                @click="Form.Visibility.dtstart_Date = false")
                |Abbruch
              v-btn(
                text 
                color="primary" 
                @click="$refs.StartDateDialog.save(Form.Values.dtstart_Date)")
                |OK          
          //-Kollisionshinweis
          v-alert(
            v-if="Local.Collisions.length > 0"
            type="error" 
            transition="v-expand-x-transition")
            span(
              v-for="(Collision, Index) in Local.Collisions" 
              :key="Index")
              b
                |{{Collision.name}} ({{Collision.categories}}) in {{Collision.location}}
              br
              i(
                v-if="Collision.details !== ''")
                |{{Collision.details}}
                br
              span
                |Start: {{Collision.start}}
              span(
                v-if="Collision.end !== Collision.start")
                |, Ende: {{Collision.end}}
              span(
                v-if="Collision.changer_email !== '' && Collision.changer_email !== 'import_job'")
                br
                v-tooltip(bottom)
                  template(v-slot:activator="{ on }")
                    v-btn(
                      elevation="1" 
                      small 
                      outlined 
                      block 
                      v-on="on")
                      v-icon|mdi-message-text-outline
                  span|Änderungsanfrage an {{Collision.changer_name}} ({{Collision.changer_email}}) stellen
              hr
          //-Startzeit
          v-dialog(
            v-if="Form.Values.dtstart_Date !== ''"
            v-model="Form.Visibility.dtstart_Time" 
            ref="StartTimeDialog" 
            :return-value.sync="Form.Values.dtstart_Time" 
            persistent 
            full-width 
            width="290px")
            template(v-slot:activator="{ on }")
              v-text-field(
                v-model="Form.Values.dtstart_Time" 
                :rules="Form.Rules.dtstart_Time" 
                label="Startzeit" 
                prepend-icon="access_time" 
                required 
                readonly 
                v-on="on")
            v-time-picker(
              v-if="Form.Visibility.dtstart_Time" 
              v-model="Form.Values.dtstart_Time" 
              full-width 
              format="24hr")
              v-spacer
              v-btn(
                text
                color="primary" 
                @click="Form.Visibility.dtstart_Time = false")
                |Abbruch
              v-btn(
                text
                color="primary"
                @click="$refs.StartTimeDialog.save(Form.Values.dtstart_Time)")
                |OK
          v-alert(
            v-if="Form.Values.dtstart_Time === Form.Values.dtend_Time"
            type="warning" 
            transition="v-expand-x-transition")
            |Die Startzeit ist gleich der Endzeit, bitte prüfen
          //-Endzeit
          v-dialog(
            v-if="Form.Values.dtstart_Date !== '' && Form.Values.dtstart_Time !== ''"
            v-model="Form.Visibility.dtend_Time"
            ref="EndTimeDialog" 
            :return-value.sync="Form.Values.dtend_Time" 
            persistent 
            full-width 
            width="290px")
            template(v-slot:activator="{ on }")
              v-text-field(
                v-model="Form.Values.dtend_Time" 
                label="Endzeit" 
                prepend-icon="access_time" 
                readonly 
                v-on="on")
            v-time-picker(
              v-if="Form.Visibility.dtend_Time" 
              v-model="Form.Values.dtend_Time" 
              full-width 
              format="24hr")
              v-spacer
              v-btn(
                text 
                color="primary" 
                @click="Form.Visibility.dtend_Time = false")
                |Abbruch
              v-btn(
                text
                color="primary"
                @click="$refs.EndTimeDialog.save(Form.Values.dtend_Time)")
                |OK
          //-Endzeit
          v-dialog(
            v-if="Form.Values.dtstart_Date !== '' && Form.Values.dtstart_Time !== ''"
            v-model="Form.Visibility.dtend_Date" 
            ref="EndDateDialog" 
            :return-value.sync="Form.Values.dtend_Date" 
            persistent 
            full-width 
            width="290px" 
            )
            template(v-slot:activator="{ on }")
              v-text-field(
                v-model="Form.Values.dtend_Date" 
                label="Enddatum" 
                prepend-icon="event" 
                readonly 
                v-on="on")
            v-date-picker(
              v-model="Form.Values.dtend_Date" 
              scrollable 
              :min="$moment(Form.Values.dtstart_Date).format('YYYY-MM-DD')")
              v-spacer
              v-btn(
                text 
                color="primary" 
                @click="Form.Visibility.dtend_Date = false")
                |Abbruch
              v-btn(
                text 
                color="primary" 
                @click="$refs.EndDateDialog.save(Form.Values.dtend_Date)")
                |OK
          //-Zusammenfassung
          v-textarea(
            v-model="Form.Values.summary"
            :rules="Form.Rules.summary" 
            label="Zusammenfassung" 
            required 
            auto-grow 
            rows="1" 
            outlined 
            :counter="75" 
            )
          //-Beschreibung          
          v-textarea(
            v-model="Form.Values.Description" 
            label="Beschreibung" 
            outlined 
            rows="2" 
            auto-grow 
            clearable 
            clear-icon="cancel")
          //-Kategorie
          v-autocomplete(
            v-model="Form.Values.categories"
            :rules="Form.Rules.categories" 
            label="Kategorie" 
            :items="Form.Options.categories" 
            required)
          
          //-v-select(label="Aktion" :items="Form.Action.options" v-model="Form.Action.value")
          
          //-v-text-field(v-model="Form.Reference.value" label="Referenz")
          //-Ort
          v-text-field(
            v-model="Form.Values.location" 
            label="Ort"
            :rules="Form.Rules.location" 
            required)
          //-Zur freien Verfügung
          v-textarea(
            v-model="Form.Values.freeText"
            label="Zur freien Verfügung" 
            outlined)
          
      v-divider
      v-card-actions
        v-spacer
        v-btn(
          color="primary" 
          text 
          @click="$emit('visibilityChanged', false)")
          |Abbruch
        v-btn(
          color="primary" 
          text 
          @click="$emit('visibilityChanged', false)")
          |Zurücksetzen
        v-btn(
          color="primary" 
          text 
          :disabled="!Local.valid"
          @click="processDialog" )
          span(v-if="EditMode === 'edit'")
            |Speichern
          span(v-if="EditMode === 'delete'")
            |Löschen
          span(v-if="EditMode === 'new'" )
            |Erstellen
</template>
<script>
//import DateDialog from '~/components/common/DateDialog'

export default {
  components: {},
  // visible [boolean] (true|false) = Sichtbarkeit des Dialogs
  // AppointmentIndex [Integer] = Der Index des Termins
  // EditMode [string] (edit|delete|new) = Was wird gerade gemacht
  props: ['visible', 'AppointmentIndex', 'EditMode'],
  watch: {
    AppointmentIndex() {
      let larrAppointment = this.$store.state.Scheduler.Appointments[this.AppointmentIndex]
      this.Form.Values.dtstart_Date = larrAppointment.dtstart.split(' ')[0]
      this.Form.Values.dtstart_Time = larrAppointment.dtstart.split(' ')[1]
      this.Form.Values.summary = larrAppointment.summary
      this.Form.Values.description = larrAppointment.description
      this.Form.Values.categories = larrAppointment.categories
      this.Form.Values.action = this.EditMode
      this.Form.Values.reference = larrAppointment.uid
      this.Form.Values.location = larrAppointment.location
      this.Form.Values.dtend_Date = larrAppointment.dtend.split(' ')[0]
      this.Form.Values.dtend_Time = larrAppointment.dtend.split(' ')[1]
      this.Form.Values.freeText = ''
      this.Form.MiscData['active'] = larrAppointment.active
      this.Form.MiscData['changer_email'] = larrAppointment.user_email
      this.Form.MiscData['changer_name'] = larrAppointment.user_name
      this.Form.MiscData['class'] = larrAppointment.class
      this.Form.MiscData['color'] = larrAppointment.color
      this.Form.MiscData['creation_date'] = larrAppointment.creation_date
      this.Form.MiscData['dtstamp'] = larrAppointment.dtstamp
      this.Form.MiscData['id'] = larrAppointment.id
      this.Form.MiscData['last_modified'] = larrAppointment.last_modified
      this.Form.MiscData['status'] = larrAppointment.status
      this.Form.MiscData['version'] = larrAppointment.version
    }
  },
  mounted() {
    if (this.visible) {
      this.$refs.form.validate()
    }
  },
  data: () => ({
    Local: {
      valid: false,
      Collisions: {}
    },
    dialog: {
      visible: false
    },
    lboolEndsAnotherDay: false,
    FieldsCopy: {},
    Form: {
      MiscData: {},
      Values: {
        dtstart_Date: '',
        dtstart_Time: '',
        dtend_Date: '',
        dtend_Time: '',
        summary: '',
        description: '',
        categories: '',
        action: '',
        reference: '',
        location: '',
        freeText: ''
      },
      Rules: {
        dtstart_Date: [v => !!v || 'Ein Veranstaltungsdatum wird benötigt'],
        dtstart_Time: [v => !!v || 'Eine Startzeit wird benötigt'],
        summary: [v => !!v || 'Eine Zusammenfassung wird benötigt',   v => v.length >= 3 || 'Die Zusammenfassung muss mindestens 3 Zeichen haben', v => v.length <= 75 || 'Die Zusammenfassung darf höchstens 75 Zeichen haben'],
        categories: [v => !!v || 'Eine Kategorie muss gewählt werden'],
        location: [v => !!v || 'Ein Ort wird benötigt']
      },
      Visibility: {
        dtstart_Date: false,
        dtstart_Time: false,
      },
      Options: {
        categories: [
          'Bezirk',
          'Gremium Hörgeschädigter',
          'Hamburg-Orchester',
          'Jugend',
          'Konfirmanden',
          'Kinder',
          'Musik',
          'Senioren',
          'Buxtehude',
          'Harburg',
          'Neugraben',
          'Nordheide',
          'Rotenburg',
          'Sinstorf',
          'Winsen',
          'Verwaltung'
        ],
        action: ['Neu', 'Ändern', 'Löschen']
      }
    },
  }),
  methods: {
    startDateChanged() {
      let larrAppointments = this.$store.state.Scheduler.Appointments
      for(let lintCounter = 0; lintCounter < larrAppointments.length; lintCounter++) {
        if (this.$moment(larrAppointments[lintCounter].dtstart.substring(0,larrAppointments[lintCounter].dtstart.indexOf(' '))).isSame(this.Form.Values.dtstart_Date)) {
          this.Local.Collisions[this.Local.Collisions.length] = larrAppointments[lintCounter]
        }
        if (this.$moment(larrAppointments[lintCounter].dtstart.substring(0,larrAppointments[lintCounter].dtstart.indexOf(' '))).isAfter(this.Form.Values.dtstart_Date)) {
          lintCounter = larrAppointments.length
        }
      }
      larrAppointments = []
    },
    processDialog() {
      switch (this.EditMode) {
        case 'new':
          this.newDataset()
          break
        case 'delete':
          break
        case 'edit':
          break
      }
    },
    async editDataset() {
 /*await this.$axios.$post('func', {
        request: {
          controller: 'scheduling',
          method: 'editAppointment',
          values: {
            location: this.Form.Location.value,
            summary: this.Form.Summary.value,
            description: this.Form.Description.value,
            dtstart:
              this.Form.StartDate.value + ' ' + this.Form.StartTime.value,
            dtend: this.Form.EndDate.value + ' ' + this.Form.EndTime.value,
            categories: this.Form.Category.value,
            changer_name: this.$store.state.scheduler.editor,
            changer_email: this.$store.state.scheduler.editorEmail
          }
        }
      })
      */
      
      this.$store.commit('Scheduler/addEditEvent', this.Fields)
      this.$emit('visibilityChanged', false)
    },
    async newDataset() {
      /*let lintID = await this.$axios.$post('func', {
        request: {
          controller: 'scheduling',
          method: 'newAppointment',
          values: {
            location: this.Form.Location.value,
            summary: this.Form.Summary.value,
            description: this.Form.Description.value,
            dtstart:
              this.Form.StartDate.value + ' ' + this.Form.StartTime.value,
            dtend: this.Form.EndDate.value + ' ' + this.Form.EndTime.value,
            categories: this.Form.Category.value,
            changer_name: this.$store.state.scheduler.editor,
            changer_email: this.$store.state.scheduler.editorEmail
          }
        }
      })
      this.Form.MiscData['id'] = lintID*/
      console.log('HIER')
      this.$store.commit('Scheduler/addNewAppointment', this.Fields)
      this.$emit('visibilityChanged', false)
    }
  }
}
</script>