<template lang="pug">
  q-card
    q-toolbar
      q-avatar
        img(src="https://cdn.quasar.dev/logo/svg/quasar-logo.svg")
      q-toolbar-title
        span(class="text-weight-bold")|Bearbeiter
      q-btn(
        flat
        round
        dense
        icon="close"
        v-close-popup)
    q-card-section
      q-form(
        @reset="onReset"
        ref="EditorForm"
        class="q-gutter-md")
        div(class="row q-gutter-md")
          div(class="col")
            q-input(
              filled
              v-model="Form.Values.Firstname"
              label="Vorname *"
              hint="Vorname"
              lazy-rules
              :rules="[v => !!v || 'Der Vorname muss angegeben werden', v => v.length >= 3 || 'Der Vorname muss mindestens 3 Zeichen haben']")
          div(class="col")
            q-input(
              filled
              v-model="Form.Values.Lastname"
              label="Nachname *"
              lazy-rules
              :rules="[ v => !!v || 'Der Name muss angegeben werden', v => v.length >= 3 || 'Der Name muss mindestens 3 Zeichen haben']")
        div(class="row q-gutter-md")
          div(class="col")
            q-input(
              type="email"
              filled
              v-model="Form.Values.Email"
              label="E-Mail *"
              hint="E-Mail-Adresse"
              lazy-rules
              :rules="[v => !!v || 'E-Mail wird benötigt', v => /.+@.*\..+/.test(v) || 'Bitte gültige E-Mail-Adresse eingeben']")
        div(class="row q-gutter-md")
          div(class="col")
            q-input(
              v-model="Form.Values.message"
              label="Nachricht"
              filled
              autogrow)
    q-separator
    q-card-actions(align="right")
      q-btn(
        v-if="Form.Values.Firstname !== undefined && Form.Values.Firstname !== '' && Form.Values.Lastname !== undefined && Form.Values.Lastname !== '' && Form.Values.Email !== undefined && Form.Values.Email !== ''"
        @click="onVerifyInput"
        flat
        label="Eingabe bestätigen"
        type="submit"
        color="primary")|
      q-btn(
        @click="onReset"
        flat)|Zurücksetzen
</template>

<script>
export default {
  props: [],
  data: () => ({
    Form: {
      States: {
        valid: false,
        validated: false
      },
      Values: {
        Firstname: '',
        Lastname: '',
        Email: '',
        Message: ''
      }
    }
  }),
  mounted () {
    if (this.$store.state.App.User.Firstname !== '') {
      this.Form.Values.Firstname = this.$store.state.App.User.Firstname
      this.Form.Values.Lastname = this.$store.state.App.User.Lastname
      this.Form.Values.Email = this.$store.state.App.User.Email
    }
    if (this.$store.state.Scheduler.Message !== '') {
      this.Form.Values.Message = this.$store.state.Scheduler.Message
    }
  },
  beforeUpdate () { },
  methods: {
    onVerifyInput () {
      this.$refs.EditorForm.validate().then(success => {
        if (success) {
          this.$store.commit('App/manuallySetUser', {
            Firstname: this.Form.Values.Firstname,
            Lastname: this.Form.Values.Lastname,
            Email: this.Form.Values.Email
          })
          this.$store.commit('Scheduler/setMessage', this.Form.Values.Message)
          this.$q.localStorage.set(
            'portal_SchedulesEditorData',
            JSON.stringify(this.Form.Values)
          )
          this.$emit('execute', { Component: 'EditorData', Action: 'verified' })
        } else {
        }
      })
    },
    onReset () {
      this.$refs.EditorForm.resetValidation()
      // eslint-disable-next-line semi
      this.Form.Values.Firstname = '';
      // eslint-disable-next-line semi
      this.Form.Values.Lastname = '';
      // eslint-disable-next-line semi
      this.Form.Values.Email = '';
      // eslint-disable-next-line semi
      this.Form.Values.Message = '';
    },
    onSubmit () { },
    transferToStore () {
      // this.$store.commit('scheduler/creatorData', [this.name, this.email, this.message])
      this.Dialog = false
      this.$emit('update:visibility', false)
    }
  }
}
</script>
