<template lang="pug">
  q-layout(view="lHh Lpr lFf")
    q-header(elevated)
      q-toolbar
        q-btn(
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen")
        q-toolbar-title
          |Portal
    q-drawer(
      v-model="leftDrawerOpen"
      bordered
      content-class="bg-grey-1")
      q-list
        q-item-label(
          header
          class="text-grey-8")
          |Menü
        q-item(clickable v-ripple)
          q-item-section|Termine
        q-item(clickable v-ripple)
          q-item-section|Termine
    q-page-container
      router-view
</template>

<script>

export default {
  name: 'Portal',

  components: {
  },

  data () {
    return {
      leftDrawerOpen: false

    }
  }
}
</script>
