<template lang="pug">
  v-speed-dial(    
    v-model="fab"
    :top="false"
    :bottom="true"
    :right="true"
    :left="false"
    direction="top"
    transition="slide-y-reverse-transition"
    :absolute="true"
    :fixed="true")
    template(v-slot:activator)
      v-btn(v-model="fab" color="blue darken-2" dark fab)
        v-icon(v-if="fab")|close
        v-icon(v-else)|drag_indicator
    v-btn(fab dark small color="green")
      v-icon(@click="$emit('executeAction',['add',-1])")|add
    v-btn(fab dark small color="green")
      v-icon(@click="$emit('executeAction',['editor',-1])")|mdi-pencil
</template>

<script>
export default {
  data: () => ({
    fab: false
  }),
}
</script>